.col-xs-12.col-md-12.col-lg-6
	.well.with-header.with-footer
		.header.bordered-yellow Copiar unidades

.col-xs-12.col-md-12.col-lg-6
	.well.with-header.with-footer
		.header.bordered-yellow Copiar unidades