
<div class="row">
  <div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="widget">
      <div class="widget-header"><span class="widget-caption">Alumnos eliminados</span>
        <div class="widget-buttons"><a href=""><i class="fa fa-minus"></i></a><a href="" ng-show="false"><i class="fa fa-plus"></i></a><a ng-show="false" href=""><i class="fa fa-times"></i></a></div>
      </div>
      <div class="widget-body">
        <div id="grid1" ui-grid="gridAlumnos" ui-grid-resize-columns style="height: 400px" class="grid"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="widget">
      <div class="widget-header"><span class="widget-caption">Grupos eliminados</span>
        <div class="widget-buttons"><a href=""><i class="fa fa-minus"></i></a><a href="" ng-show="false"><i class="fa fa-plus"></i></a><a ng-show="false" href=""><i class="fa fa-times"></i></a></div>
      </div>
      <div class="widget-body">
        <div id="grid2" ui-grid="gridGrupos" ui-grid-resize-columns style="height: 400px" class="grid"></div>
      </div>
    </div>
  </div>
</div>