.row(ui-view="edit_alumno")


.row
	.col-xs-12.col-md-12
		.well.with-header.with-footer
			.header.bordered-yellow Acudientes 
				
			
			.form-group
				label Elija grupo
				div
					span(uib-tooltip="Debe seleccionar un grupo" tooltip-placement="right")
						ui-select(ng-model="dato.grupo" on-select="onGrupoSelect($item, $model)" theme="select2" style="min-width: 200px;")
							ui-select-match(placeholder="Grupo" allow-clear="true") {{$select.selected.nombre}}
							ui-select-choices(repeat="grupo in grupos | filter: $select.search")
								div(ng-bind-html="grupo.nombre | highlight: $select.search")

				a(ng-click="traerNOAsignados()" href="" style="margin: 20px 0px; display: block;" uib-tooltip="Mostrar acudientes NO asignados a algún alumno") Mostrar los NO asignados


			#grid1.grid(ui-grid="gridOptions" ui-grid-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-auto-resize style="height: 700px")




