
<div ui-view="edit_alumno" class="row"></div>
<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="well with-header with-footer">
      <div class="header bordered-yellow"> <span style="font-size: 12pt">Alumnos </span><a ui-sref="panel.alumnos.nuevo" uib-tooltip="Ingresa datos de un nuevo alumno" class="btn btn-info shiny">Crear alumno</a></div>
      <div class="form-group">
        <selector-grupo-dir></selector-grupo-dir>
      </div>
      <div id="grid1" ui-grid="gridOptions" ui-grid-expandable ui-grid-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-auto-resize ui-grid-pinning style="height: 600px" class="grid"></div>
      <div class="footer">Puedes editar con doble click sobre el dato deseado.</div>
    </div>
  </div>
</div>