.row(ui-view="edit_alumno")


.row
	.col-xs-12.col-md-12
		.well.with-header.with-footer
			.header.bordered-yellow 
				span(style="font-size: 12pt") Alumnos 
				a.btn.btn-info.shiny(ui-sref="panel.alumnos.nuevo" uib-tooltip="Ingresa datos de un nuevo alumno") Crear alumno
			
			.form-group
				selector-grupo-dir


			#grid1.grid(ui-grid="gridOptions" ui-grid-expandable ui-grid-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-auto-resize ui-grid-pinning style="height: 600px")


			.footer
				| Puedes editar con doble click sobre el dato deseado.
