.modal-header
	h3.modal-title Cambiar ciudad
.modal-body
	.row
		.col-lg-12.col-xs-12
			h4 Alumno: 
			div(style="text-overflow: ellipsis") {{alumno.nombres}} {{alumno.apellidos}}
			h5 Id: {{alumno.alumno_id}}

			.row 
				.form-group.col-lg-4.col-sm-6.col-xs-12
					label Pais
					ui-select(ng-model="alumno.pais_nac" on-select="paisNacSelect($item, $model)" style="width: 100%;")
						ui-select-match(placeholder="Pais nacimiento" allow-clear="true") {{$select.selected.pais}} ({{$select.selected.abrev}})
						ui-select-choices(repeat="pais in paises | filter: $select.search")
							div(ng-bind-html="pais.pais | highlight: $select.search")
							small {{ pais.departamento | highlight: $select.search}}
				.form-group.col-lg-4.col-sm-6.col-xs-12
					label Departamento
					ui-select(ng-model="alumno.departamento_nac" on-select="departNacSelect($item, $model)" style="width: 100%;")
						ui-select-match(placeholder="Departamento nacimiento" allow-clear="true") {{$select.selected.departamento}}
						ui-select-choices(repeat="departamento in departamentosNac | filter: $select.search")
							div(ng-bind-html="departamento.departamento | highlight: $select.search")

				.form-group.col-lg-4.col-sm-6.col-xs-12
					label Ciudad
					ui-select(ng-model="alumno.ciudad_nac" style="width: 100%;")
						ui-select-match(placeholder="Ciudad nacimiento" allow-clear="true") {{$select.selected.ciudad}}
						ui-select-choices(repeat="ciudad in ciudadesNac | filter: $select.search")
							div(ng-bind-html="ciudad.ciudad | highlight: $select.search")
									

.modal-footer
	button.btn.btn-labeled.btn-danger(ng-click="ok()") Eliminar
		i.btn-label.fa.fa-times
	button.btn.btn-yellow(ng-click="cancel()") Cancelar