
<div class="widget">
  <div class="widget-body">
    <div class="row">
      <div uib-tooltip="Foto oficial" class="col-sm-4 col-xs-12"><img style="width: 200px" ng-src="{{perfilPath + alumno.foto_nombre}}"></div>
      <div uib-tooltip="Imagen de usuario (no importante)" class="col-sm-4 col-xs-12"><img style="width: 200px" ng-src="{{perfilPath + alumno.imagen_nombre}}"></div>
      <div style="margin-top: 50px; text-align: center" class="col-md-4 col-sm-12">
        <button style="font-size: 20pt; font-weight: bold;" type="button" ng-click="cambiarGrupo()" uib-tooltip="Cambiar grupo" ng-show="alumno.grupo_nombre" class="btn btn-primary shiny">{{ alumno.grupo_nombre}}</button>
        <div style="margin: 20px 10px; text-align: center; font-size: 18px; border: 1px solid #d74848; color: #d74848; padding: 5px;" ng-show="alumno.repitente">Repitente</div>
        <div style="margin: 20px 10px; text-align: center; font-size: 18px; border: 1px solid #299f2d; color: #299f2d; padding: 5px;" ng-show="alumno.egresado">Egresado</div>
        <div style="margin: 20px 10px; text-align: center; font-size: 18px; border: 1px solid #000; color: #000; padding: 5px;" ng-show="alumno.nuevo">Nuevo</div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="form-group col-lg-4 col-sm-6">
        <label for="alumno-nombres">Nombres</label>
        <input id="alumno-nombres" type="text" ng-model="alumno.nombres" placeholder="Nombres" ng-change="guardarValor(alumno, 'nombres', alumno.nombres)" style="font-size: 12pt; color: #444; border: 1px solid #999;" class="form-control">
      </div>
      <div class="form-group col-lg-4 col-sm-6">
        <label for="alumno-apellidos">Apellidos</label>
        <input id="alumno-apellidos" type="text" ng-model="alumno.apellidos" placeholder="Apellidos" ng-change="guardarValor(alumno, 'apellidos', alumno.apellidos)" style="font-size: 12pt; color: #444; border: 1px solid #999;" class="form-control">
      </div>
      <div style="margin-bottom: 8px;" class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label>Sexo</label>
        <div class="row">
          <div class="col-lg-6 col-sm-4 col-xs-12">
            <div class="radio">
              <label>
                <input type="radio" name="sexo" value="M" ng-model="alumno.sexo" ng-change="guardarValor(alumno, 'sexo', alumno.sexo)" class="inverted"><span class="text">Masculino</span>
              </label>
            </div>
          </div>
          <div class="col-lg-6 col-sm-4 col-xs-12">
            <div class="radio">
              <label>
                <input type="radio" name="sexo" value="F" ng-model="alumno.sexo" ng-change="guardarValor(alumno, 'sexo', alumno.sexo)" class="inverted"><span class="text">Femenino</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group col-lg-3 col-sm-6 col-xs-12">
        <label for="alumno-celular">Celular</label>
        <input id="alumno-celular" type="text" ng-model="alumno.celular" placeholder="Celular" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" ng-change="guardarValor(alumno, 'celular', alumno.celular)" class="form-control">
      </div>
    </div>
    <hr>
    <div class="row">
      <div style="margin-top: 15px;" class="form-group col-lg-3 col-sm-3"><span style="border: 1px solid #ccc; border-radius: 4px; padding: 15px;">
          <label>Paz y salvo</label>
          <label><a ng-class="{'btn-info':alumno.pazysalvo, 'btn-warning':!alumno.pazysalvo }" ng-click="cambiarPazysalvo(alumno);" uib-tooltip="NO está al día" href="" tooltip-enable="!alumno.pazysalvo" ng-model="alumno.pazysalvo" class="btn"><i ng-hide="alumno.pazysalvo" class="fa fa-times"></i><i ng-show="alumno.pazysalvo" class="fa fa-check"></i><span ng-hide="alumno.pazysalvo">No</span><span ng-show="alumno.pazysalvo">Si</span></a></label></span></div>
      <div class="form-group col-lg-3 col-sm-4 col-xs-12">
        <label for="alumno-deuda">Deuda $</label>
        <input id="alumno-deuda" type="number" ng-model="alumno.deuda" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" placeholder="Deuda" min="0" ng-change="guardarValor(alumno, 'deuda', alumno.deuda)" class="form-control">
      </div>
      <div style="margin-bottom: 12px;" class="form-group col-lg-4 col-sm-5 col-xs-12">
        <label for="alumno-fecha_pension">Fecha de pensión</label>
        <div class="controls">
          <div class="input-group"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input id="alumno-fecha_pension" type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="alumno.fecha_pension" is-open="data.isOpenPens" ng-click="data.isOpenPens = true" max-date="'2025-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha pension" ng-change="guardarValor(alumno, 'fecha_pension', alumno.fecha_pension)" class="form-control active">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-if="hasRoleOrPerm(['admin'])" class="widget">
  <div class="widget-header bordered-bottom bordered-info"><span class="widget-caption"><a href ng-click="toggleMostrarCompromisos()" style="text-decoration: underline;">Disciplina y compromisos ({{cant_compromisos}})</a></span></div>
  <div ng-show="mostrar_compromisos" class="widget-body">
    <div class="row">
      <div class="form-group col-lg-12 col-xs-12">
        <h4 style="font-weight: 600!important;">Año actual:</h4>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <label>Aplicar para este año {{ ::USER.year }}:</label>
        <div><span uib-tooltip="Este año, el estudiante obtiene..." tooltip-popup-delay="400">
            <ui-select ng-model="dato.efectuar_una" on-select="guardarValor(alumno, 'efectuar_una', dato.efectuar_una.opcion)" theme="select2" style="width: 100%;">
              <ui-select-match placeholder="Recomendación" allow-clear="true">{{$select.selected.opcion}}</ui-select-match>
              <ui-select-choices repeat="programar in opciones_programar | filter: $select.search">
                <div ng-bind-html="programar.opcion | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select></span></div>
      </div>
      <div ng-show="dato.efectuar_una" class="form-group col-lg-9 col-sm-6 col-xs-12">
        <label>Descripción de recomendación</label>
        <textarea ng-model="alumno.descripcion_efectuada" placeholder="Observaciones" uib-tooltip="Observaciones" tooltip-popup-delay="500" style="height: 50px; width: 100%;" ng-change="guardarValor(alumno, 'descripcion_efectuada', alumno.descripcion_efectuada)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <label>Programar para el {{ ::USER.year + 1 }}</label>
        <div><span uib-tooltip="Programar o recomendar algo al estudiante o acudiente" tooltip-popup-delay="400">
            <ui-select ng-model="dato.programar" on-select="guardarValor(alumno, 'programar', dato.programar.opcion)" theme="select2" style="width: 100%;">
              <ui-select-match placeholder="Recomendación" allow-clear="true">{{$select.selected.opcion}}</ui-select-match>
              <ui-select-choices repeat="programar in opciones_programar | filter: $select.search">
                <div ng-bind-html="programar.opcion | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select></span></div>
      </div>
      <div ng-show="dato.programar" class="form-group col-lg-9 col-sm-6 col-xs-12">
        <label>Descripción de recomendación</label>
        <textarea ng-model="alumno.descripcion_recomendacion" placeholder="Observaciones" uib-tooltip="Observaciones" tooltip-popup-delay="500" style="height: 50px; width: 100%;" ng-change="guardarValor(alumno, 'descripcion_recomendacion', alumno.descripcion_recomendacion)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control"></textarea>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="form-group col-lg-12 col-xs-12">
        <h4 style="font-weight: 600!important;">Siguiente:</h4>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <label>Aplicar para el año {{ ::USER.year + 1 }}:</label>
        <div>
          <ui-select ng-model="dato.efectuar_una_next" on-select="guardarValor(alumno, 'efectuar_una', dato.efectuar_una_next.opcion, alumno.next_year.year_id)" theme="select2" style="width: 100%;">
            <ui-select-match placeholder="Recomendación" allow-clear="true">{{$select.selected.opcion}}</ui-select-match>
            <ui-select-choices repeat="programar in opciones_programar | filter: $select.search">
              <div ng-bind-html="programar.opcion | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div ng-show="dato.efectuar_una_next" class="form-group col-lg-9 col-sm-6 col-xs-12">
        <label>Descripción de recomendación</label>
        <textarea ng-model="alumno.next_year.descripcion_efectuada" placeholder="Observaciones" uib-tooltip="Observaciones" tooltip-popup-delay="500" style="height: 50px; width: 100%;" ng-change="guardarValor(alumno, 'descripcion_efectuada', alumno.next_year.descripcion_efectuada, alumno.next_year.year_id)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <label>Programar para el {{ alumno.next_year.year + 1 }}</label>
        <div><span uib-tooltip="Programar o recomendar algo al estudiante o acudiente" tooltip-popup-delay="400">
            <ui-select ng-model="dato.programar_next" on-select="guardarValor(alumno, 'programar', dato.programar_next.opcion, alumno.next_year.year_id)" theme="select2" style="width: 100%;">
              <ui-select-match placeholder="Recomendación" allow-clear="true">{{$select.selected.opcion}}</ui-select-match>
              <ui-select-choices repeat="programar in opciones_programar | filter: $select.search">
                <div ng-bind-html="programar.opcion | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select></span></div>
      </div>
      <div ng-show="dato.programar_next" class="form-group col-lg-9 col-sm-6 col-xs-12">
        <label>Descripción de recomendación</label>
        <textarea ng-model="alumno.next_year.descripcion_recomendacion" placeholder="Observaciones" uib-tooltip="Observaciones" tooltip-popup-delay="500" style="height: 50px; width: 100%;" ng-change="guardarValor(alumno, 'descripcion_recomendacion', alumno.next_year.descripcion_recomendacion, alumno.next_year.year_id)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control"></textarea>
      </div>
    </div>
  </div>
</div>
<div ng-if="hasRoleOrPerm(['admin'])" class="widget">
  <div class="widget-header bordered-bottom bordered-pink"><span class="widget-caption"><a href ng-click="toggleMostrarPrematricula()" style="text-decoration: underline;">Matrícula {{::USER.year}} y prematrícula {{::USER.year+1}}</a></span></div>
  <div ng-show="mostrar_prematricula" class="widget-body">
    <div class="row">
      <div style="padding-right: 0px;" class="form-group col-lg-3 col-md-4 col-sm-4">
        <label for="alumno-estado">Estado</label><span style="padding-left: 2px; padding-top: 4px;" class="btn-group">
          <label ng-model="alumno.estado" uib-btn-radio="'MATR'" ng-click="reMatricularUno(alumno)" uib-tooltip="Matricular" class="btn btn-info">Matr</label>
          <label ng-model="alumno.estado" uib-btn-radio="'ASIS'" ng-click="setAsistente(alumno)" uib-tooltip="Establecer como Asistente" class="btn btn-info">Asis</label>
          <label ng-model="alumno.estado" uib-btn-radio="'RETI'" ng-click="retirar(alumno)" uib-tooltip="Retirar" class="btn btn-info">Reti</label>
          <label ng-model="alumno.estado" uib-btn-radio="'DESE'" ng-click="desertar(alumno)" uib-tooltip="Desertor" class="btn btn-info">Dese</label></span>
      </div>
      <div class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <label for="alumno-no-matr">Número Matrícula</label>
        <input id="alumno-no-matr" type="text" ng-model="alumno.no_matricula" placeholder="Número de matrícula" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }" ng-change="guardarValor(alumno, 'no_matricula', alumno.no_matricula)" class="form-control">
      </div>
      <div style="margin-bottom: 12px;" ng-if="alumno.estado == 'RETI' || alumno.estado == 'DESE' " class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <label for="alumno-fecha_retiro">Fecha de retiro</label>
        <div class="controls">
          <div class="input-group"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input id="alumno-fecha_retiro" type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="alumno.fecha_retiro" is-open="data.isOpenReti" ng-click="data.isOpenReti = true" max-date="'2025-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha retiro" ng-change="guardarValor(alumno, 'fecha_retiro', alumno.fecha_retiro)" class="form-control active">
          </div>
        </div>
      </div>
      <div style="margin-bottom: 12px;" ng-if="alumno.estado == 'MATR' || alumno.estado == 'ASIS' " class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <label for="alumno-fecha_matricula">Fecha de matricula</label>
        <div class="controls">
          <div class="input-group"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input id="alumno-fecha_retiro" type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="alumno.fecha_matricula" is-open="data.isOpenMatr" ng-click="data.isOpenMatr = true" max-date="'2025-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha matricula" ng-change="guardarValor(alumno, 'fecha_matricula', alumno.fecha_matricula)" class="form-control active">
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="form-group col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <label>Grupo próximo año</label>
        <div><span uib-tooltip="Debe seleccionar un grupo" tooltip-placement="right" tooltip-popup-delay="400">
            <ui-select ng-model="dato.grupo_prematr" theme="select2" style="width: 100%;">
              <ui-select-match placeholder="Grupo a prematricular" allow-clear="true">{{$select.selected.nombre}}</ui-select-match>
              <ui-select-choices repeat="grupo in grupos_siguientes | filter: $select.search">
                <div ng-bind-html="grupo.nombre | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select></span></div>
      </div>
      <div style="padding-right: 0px;" class="form-group col-sm-8">
        <label for="alumno-estado-next">{{ ::USER.year + 1 }}:</label><span style="padding-left: 2px; padding-top: 4px;" class="btn-group">
          <label ng-model="alumno.next_year.estado" uib-btn-radio="'FORM'" ng-click="set_estado_next_matricula(alumno)" uib-tooltip="Formulario vendido" class="btn btn-success btn-prematriculas">Formulario</label>
          <label ng-model="alumno.next_year.estado" uib-btn-radio="'PREM'" ng-click="set_estado_next_matricula(alumno)" uib-tooltip="Prematriculado" class="btn btn-success btn-prematriculas">Prematriculado</label>
          <label ng-model="alumno.next_year.estado" uib-btn-radio="'ASIS'" ng-click="set_estado_next_matricula(alumno)" uib-tooltip="Establecer como Asistente" class="btn btn-success btn-prematriculas">Asist</label>
          <label ng-model="alumno.next_year.estado" uib-btn-radio="'MATR'" ng-click="set_estado_next_matricula(alumno)" uib-tooltip="Matricular" class="btn btn-success btn-prematriculas">Matr</label></span>
      </div><span ng-show="alumno.next_year.year">
        <div uib-tooltip="¿Es nuevo en {{ alumno.next_year.year }} en la institución?" tooltip-popup-delay="400" style="margin-top: 20px;" class="form-group col-lg-2 col-sm-3 col-xs-12">
          <label>Es nuevo</label>
          <label>
            <input type="checkbox" ng-model="alumno.next_year.nuevo" ng-true-value="1" ng-false-value="0" ng-change="toggleNuevoRepite(alumno, 'nuevo')" class="checkbox-slider slider-icon colored-blue"><span class="text si-no"></span>
          </label>
        </div>
        <div uib-tooltip="¿Va a repetir el año en {{ alumno.next_year.year }}?" tooltip-popup-delay="400" style="margin-top: 20px;" class="form-group col-lg-2 col-sm-3 col-xs-12">
          <label>Es repitente</label>
          <label>
            <input type="checkbox" ng-model="alumno.next_year.repitente" ng-true-value="1" ng-false-value="0" ng-change="toggleNuevoRepite(alumno, 'repitente')" class="checkbox-slider slider-icon colored-blue"><span class="text si-no"></span>
          </label>
        </div></span>
      <div ng-show="alumno.next_year.estado=='PREM'" style="margin-bottom: 12px;" uib-tooltip="Fecha en que se prematriculó" class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <label for="alumno-fecha_prematriculado">Fecha prematriculado</label>
        <div class="controls">
          <div class="input-group"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input id="alumno-fecha_prematriculado" type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="alumno.next_year.prematriculado" is-open="data.isOpenPrema" ng-click="data.isOpenPrema = true" max-date="'2025-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha prematrícula" ng-change="guardarValor(alumno, 'prematriculado', alumno.next_year.prematriculado, alumno.next_year.year_id)" class="form-control active">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>