
<div class="widget">
  <div class="widget-body">
    <uib-accordion close-others="false">
      <div uib-accordion-group is-open="$first" ng-repeat="matricula in matriculas" class="panel-default margin-padding-lados-xs panel-acordeon">
        <uib-accordion-heading>Año {{matricula.year}}<span ng-show="matricula.grupo_nombre"> - {{matricula.grupo_nombre}}</span></uib-accordion-heading>
        <h4 style="font-weight: 600!important;">Requisitos</h4>
        <form ng-submit="crearUnidad()" role="form" ng-show="::USER.profes_pueden_editar_notas || hasRoleOrPerm('Admin')" ng-repeat="requisito in matricula.requisitos" style="border: 1px solid #ccc; border-radius: 5px; margin: 4px 0; padding: 4px 0;" class="form-inline row">
          <div style="padding-right: 0px; min-height: 50px;" uib-tooltip="{{requisito.descripcion_titulo}}" tooltip-popup-delay="500" class="form-group col-md-3 col-sm-4 col-xs-12 si-padding-left-xs">
            <label>{{requisito.requisito}}</label>
          </div>
          <div uib-tooltip="Estadoa actual" class="form-group col-lg-3 col-md-3 col-sm-3"><span style="padding-left: 2px; padding-top: 4px;" class="btn-group">
              <label ng-model="requisito.estado" uib-btn-radio="'falta'" ng-click="guardarCambioRequisito(requisito)" class="btn btn-info">Falta</label>
              <label ng-model="requisito.estado" uib-btn-radio="'ya'" ng-click="guardarCambioRequisito(requisito)" class="btn btn-info">Ya</label>
              <label ng-model="requisito.estado" uib-btn-radio="'n/a'" ng-click="guardarCambioRequisito(requisito)" class="btn btn-info">N/A</label></span></div>
          <div class="form-group definicion-add-unidad col-md-6 col-sm-5 col-xs-12 si-padding-left-xs">
            <label class="sr-only">Escriba una descripción</label>
            <textarea required ng-model="requisito.descripcion" placeholder="Descripción (opcional)" uib-tooltip="Descripción (opcional)" tooltip-popup-delay="500" style="height: 50px; width: 100%;" ng-change="guardarCambioRequisito(requisito)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" class="form-control"></textarea>
          </div>
        </form>
      </div>
    </uib-accordion>
  </div>
</div>