.page-body
	.row
		.col-lg-12.col-sm-12.col-xs-12
			.row
				.col-lg-12.col-sm-12.col-xs-12
					.widget(ng-class="{maximized:maxi}" style="min-height: 600px")
						.widget-header.bg-lightred
							i.widget-icon.fa.fa-arrow-up
							span.widget-caption Años
							.widget-buttons
								a(href="" data-toggle="config" ng-if="false")
									i.fa.fa-cog
								a(href="" ng-click="maxi=!maxi" data-toggle="maximize")
									i.fa.fa-expand
								a(href="" data-toggle="collapse" ng-if="false")
									i.fa.fa-minus
								a(href="" data-toggle="dispose" ng-if="false")
									i.fa.fa-times
						.widget-body()
							h2 Año 2015
