
<div class="col-lg-12 col-sm-12 col-xs-12">
  <div ng-repeat="year in years" class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
      <div ng-class="{maximized:maxi}" style="min-height: 600px" class="widget">
        <div class="widget-header bg-lightred"><i class="widget-icon fa fa-arrow-up"></i><span class="widget-caption">Año {{year.year}}</span>
          <div class="widget-buttons"><a href="" data-toggle="config" ng-if="false"><i class="fa fa-cog"></i></a><a href="" ng-click="maxi=!maxi" data-toggle="maximize"><i class="fa fa-expand"></i></a><a href="" data-toggle="collapse"><i class="fa fa-minus"></i></a><a href="" data-toggle="dispose" ng-if="false"><i class="fa fa-times"></i></a></div>
        </div>
        <div class="widget-body">
          <div id="registration-form">
            <form role="form">
              <div class="form-title">Básico</div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputEmail2">Nombre del colegio</label><span class="input-icon icon-right">
                      <input id="exampleInputEmail2" type="text" placeholder="Nombre del colegio" class="form-control"><i class="fa fa-envelope blue"></i></span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputName2">Name</label><span class="input-icon icon-right">
                      <input id="exampleInputName2" type="text" placeholder="Name" class="form-control"><i class="glyphicon glyphicon-user palegreen"></i></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label tooltip="Puedes bloquear el sistema momentaneamente para que los alumnos y acudientes no puedan ver las notas.">Alumnos pueden ver sus notas</label>
                    <label>
                      <input type="checkbox" ng-change="toggleBloquearNotas()" ng-model="config.alumnos_can_see_notas" class="checkbox-slider slider-icon colored-blue"><span class="text si-no"></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-title">Periodos</div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="list-periodos">
                    <ul>
                      <li ng-repeat="periodo in year.periodos">{{periodo.numero}} - 
                        <div ng-show="periodo.actual" class="label label-success">En curso</div>
                        <div class="btn-group">
                          <button ng-click="actualPeriodo(periodo)" ng-show="!periodo.actual" class="btn btn-default btn-sm shiny">Actual</button>
                          <button ng-click="removePeriodo(year, periodo)" class="btn btn-danger btn-sm shiny">Eliminar</button>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <button type="button" ng-click="addPeriodo(year)" class="btn btn-success">Crear periodo</button>
                </div>
              </div><br><br>
              <div class="form-title">Certificados</div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="nombre-certif">Nombre o Tipo de certificado</label><span class="input-icon icon-right">
                      <input id="nombre-certif" type="text" ng-model="newcertif.nombre" placeholder="Nombre que identifique la configuración" class="form-control"><i class="fa fa-envelope blue"></i></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="col-md-3 col-lg-3 control-label to-left">Encabezado</label>
                    <div class="col-md-9 col-lg-9">
                      <ui-select ng-model="dato.usuarioElegido" on-select="usuarioSelect($item, $model)" theme="select2" style="min-width: 300px;">
                        <ui-select-match placeholder="Encabezado"><img ng-src="{{perfilPath + $select.selected.imagen_nombre}}" style="width:25px; height:25px;"><small ng-bind-html="' ' + $select.selected.nombres + ' ' + $select.selected.apellidos + ' - ' + $select.selected.username"></small></ui-select-match>
                        <ui-select-choices repeat="usuario in usuariosall | filter: {nombres: $select.search, username: $select.search}"><img ng-src="{{perfilPath + usuario.imagen_nombre}}" style="width:25px; height:25px;"><small ng-bind-html="' ' + usuario.nombres + ' ' + usuario.apellidos + ' - ' + usuario.username | highlight: $select.search"></small></ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="encab-width-certif">Ancho encabezado</label><span class="input-icon icon-right">
                      <input id="encab-width-certif" ng-model="newcertif.head_width" type="number" class="form-control"><i class="fa fa-arrows-h blue"></i></span>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="encab-height-certif">Alto encabezado</label><span class="input-icon icon-right">
                      <input id="encab-height-certif" ng-model="newcertif.head_height" type="number" class="form-control"><i class="fa fa-arrows-v blue"></i></span>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="encab-margintop-certif">Margen superior encabezado</label><span class="input-icon icon-right">
                      <input id="encab-margintop-certif" ng-model="newcertif.head_margintop" type="number" class="form-control"><i class="fa fa-arrow-up blue"></i></span>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="encab-marginleft-certif">Margen inferior encabezado</label><span class="input-icon icon-right">
                      <input id="encab-marginleft-certif" ng-model="newcertif.head_marginleft" type="number" class="form-control"><i class="fa fa-arrow-down blue"></i></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Pie de página</label>
                    <ui-select ng-model="dato.usuarioElegido" on-select="usuarioSelect($item, $model)" theme="select2" style="min-width: 300px;">
                      <ui-select-match placeholder="Pie de página"><img ng-src="{{perfilPath + $select.selected.imagen_nombre}}" style="width:25px; height:25px;"><small ng-bind-html="' ' + $select.selected.nombres + ' ' + $select.selected.apellidos + ' - ' + $select.selected.username"></small></ui-select-match>
                      <ui-select-choices repeat="usuario in usuariosall | filter: {nombres: $select.search, username: $select.search}"><img ng-src="{{perfilPath + usuario.imagen_nombre}}" style="width:25px; height:25px;"><small ng-bind-html="' ' + usuario.nombres + ' ' + usuario.apellidos + ' - ' + usuario.username | highlight: $select.search"></small></ui-select-choices>
                    </ui-select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="pie-width-certif">Ancho pie de página</label><span class="input-icon icon-right">
                      <input id="pie-width-certif" ng-model="newcertif.pie_marginbottom" type="number" class="form-control"><i class="fa fa-arrows-h blue"></i></span>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="pie-height-certif">Alto pie de página</label><span class="input-icon icon-right">
                      <input id="pie-height-certif" ng-model="newcertif.pie_marginbottom" type="number" class="form-control"><i class="fa fa-arrows-v blue"></i></span>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="pie-marginleft-certif">Margen izquierda pie de página</label><span class="input-icon icon-right">
                      <input id="pie-marginleft-certif" ng-model="newcertif.pie_marginleft" type="number" class="form-control"><i class="fa fa-arrow-left blue"></i></span>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="pie-marginbottom-certif">Margen inferior pie de página</label><span class="input-icon icon-right">
                      <input id="pie-marginbottom-certif" ng-model="newcertif.pie_marginbottom" type="number" class="form-control"><i class="fa fa-arrow-down blue"></i></span>
                  </div>
                </div>
              </div>
              <hr><br>
              <button type="submit" class="btn btn-primary">Guardar cambios</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>