div(style="text-align:right;") 
	| {{row.entity.username }}

	a(uib-tooltip="Resetear contraseña" tooltip-placement="right" class="btn btn-default btn-xs icon-only shiny" ng-click="grid.appScope.resetPass(row.entity)")
		i.fa.fa-user-secret
