span.btn-group(style="padding-left: 2px; padding-top: 4px;")
    button.btn.btn-info.btn-xs(ng-show="row.entity.nombres" ng-click="grid.appScope.cambiarAcudiente(row.entity)") {{ row.entity.nombres }}
    button.btn.btn-info.btn-xs(ng-hide="row.entity.nombres" ng-click="grid.appScope.agregarAcudiente(grid.parentRow.entity)") Agregar...
    
