div(style="padding-left: 2px; padding-top: 4px; overflow: hidden;")
    button.btn.btn-info.btn-xs(ng-click="grid.appScope.cambiarPromovido(row.entity)" style="min-height: 15px;") {{ row.entity.promovido }}
    