.col-lg-12.col-md-12.col-sm-12.col-xs-12
	.row
		.col-lg-3.col-md-3.col-sm-6.col-xs-12
			.databox.radius-bordered.databox-shadowed.databox-graded
				.databox-left.bg-themesecondary
					.databox-piechart
						.easyPieChart(data-toggle="easypiechart" data-barcolor="#fff" data-linecap="butt" data-percent="50" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.1)")
							span.white.font-90 50%
				.databox-right
					span.databox-number.themesecondary 14
					.databox-text.darkgray NEW TASKS
					.databox-stat.themesecondary.radius-bordered
						i.stat-icon.icon-lg.fa.fa-tasks
		.col-lg-3.col-md-3.col-sm-6.col-xs-12
			.databox.radius-bordered.databox-shadowed.databox-graded
				.databox-left.bg-themethirdcolor
					.databox-piechart
						.easyPieChart(data-toggle="easypiechart" data-barcolor="#fff" data-linecap="butt" data-percent="15" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.2)")
							span.white.font-90 15%
