
<ul class="nav sidebar-menu"><!--Dashboard-->
  <li ui-sref-active-eq="active"><a ui-sref="panel"><i class="menu-icon glyphicon glyphicon-home"></i><span class="menu-text">Inicio</span></a></li><!--Alumnos-->
  <li ui-sref-active="active"><a ui-sref="panel.alumnos"><i class="menu-icon fa fa-child"></i><span class="menu-text">Alumnos</span></a></li><!-- Profesores-->
  <li sub-menu ng-click="toggleOpen()" ng-class="{open:$state.includes('panel.profesores')}"><a href="" class="menu-dropdown"><i class="menu-icon fa fa-graduation-cap"></i><span class="menu-text">Profesores</span><i class="menu-expand"></i></a>
    <ul class="submenu">
      <li ui-sref-active="active"><a ui-sref="panel.profesores" stop-event="click"><span class="menu-text">Todos</span></a></li>
      <li><a href="" stop-event="click"><span class="menu-text">Asbel Camacho</span></a></li>
      <li><a href="" stop-event="click"><span class="menu-text">Rafael Camacho</span></a></li>
      <li><a href="" stop-event="click"><span class="menu-text">Estiven Castillo</span></a></li>
      <li><a href="" stop-event="click"><span class="menu-text">Mayerli Trejos</span></a></li>
    </ul>
  </li><!-- Notas-->
  <li sub-menu ng-click="toggleOpen()" ng-class="{open:$state.includes('panel.notas')}"><a href="" class="menu-dropdown"><i class="menu-icon fa fa-apple"></i><span class="menu-text">Notas</span><i class="menu-expand"></i></a>
    <ul class="submenu">
      <li ui-sref-active="active"><a href="" stop-event="click"><span ui-sref="panel.notas" class="menu-text">Notas</span></a></li>
      <li ui-sref-active="active"><a href="" stop-event="click"><span class="menu-text">Competencias</span></a></li>
      <li ui-sref-active="active"><a href="" stop-event="click"><span class="menu-text">Indicadores</span></a></li>
      <li ui-sref-active="active"><a href="" stop-event="click"><span class="menu-text">Por alumno</span></a></li>
    </ul>
  </li><!-- Grupos-->
  <li sub-menu ng-click="toggleOpen()" ng-class="{open:$state.includes('panel.niveles')||$state.includes('panel.grados')||$state.includes('panel.grupos')}"><a href="" class="menu-dropdown"><i class="menu-icon fa fa-apple"></i><span class="menu-text">Grupos</span><i class="menu-expand"></i></a>
    <ul class="submenu">
      <li ui-sref-active="active"><a ui-sref="panel.niveles" stop-event="click"><span class="menu-text">Niveles educativos</span></a></li>
      <li ui-sref-active="active"><a ui-sref="panel.grados" stop-event="click"><span class="menu-text">Grados</span></a></li>
      <li ui-sref-active="active"><a ui-sref="panel.grupos" stop-event="click"><span class="menu-text">Grupos</span></a></li>
    </ul>
  </li><!-- Informes-->
  <li sub-menu ng-click="toggleOpen()" menu-is-open="false" ng-class="{active:$state.is('panel')}"><a href="" class="menu-dropdown"><i class="menu-icon glyphicon glyphicon-print"></i><span class="menu-text">Informes</span><i class="menu-expand"></i></a>
    <ul class="submenu">
      <li><a href="" stop-event="click"><span class="menu-text">Puestos</span></a></li>
      <li><a href="" stop-event="click"><span class="menu-text">3 primeros</span></a></li>
      <li><a href="" stop-event="click"><span class="menu-text">Boletines</span></a></li>
      <li><a href="" stop-event="click"><span class="menu-text">Boletines finales</span></a></li>
      <li><a href="" stop-event="click"><span class="menu-text">Por alumno</span></a></li>
    </ul>
  </li><!-- Colegio-->
  <li sub-menu ng-click="toggleOpen()"><a href="" class="menu-dropdown"><i class="menu-icon fa fa-institution"></i><span class="menu-text">Colegio</span><i class="menu-expand"></i></a>
    <ul class="submenu">
      <li><a href="" stop-event="click"><span class="menu-text">Configuración</span></a></li>
      <li sub-menu ng-click="toggleOpen()" stop-event="click" hija="true" menu-is-open="true"><a href="" class="menu-dropdown"><span class="menu-text">Lugares</span><i class="menu-expand"></i></a>
        <ul class="submenu">
          <li><a href="" ui-sref="panel.paises" stop-event="click"><i class="menu-icon fa fa-rocket"></i><span class="menu-text">Paises</span></a></li>
          <li><a href="" ui-sref="panel.ciudades" stop-event="click"><i class="menu-icon glyphicon glyphicon-stats"></i><span class="menu-text">Cuidades</span></a></li>
        </ul>
      </li>
      <li ng-class="{active:$state.includes('years')}"><a href="" stop-event="click" ui-sref="panel.years"><span class="menu-text">Años</span></a></li>
      <li ng-class="{active:$state.includes('periodos')}"><a href="" stop-event="click" ui-sref="panel.periodos"><span class="menu-text">Periodos</span></a></li>
      <li><a href="" stop-event="click"><span class="menu-text">Usuarios</span></a></li>
      <li><a href="" stop-event="click"><span class="menu-text">Anuncios</span></a></li>
      <li ng-class="{active:$state.includes('mensajes')}"><a ui-sref="panel.mensajes" stop-event="click"><span class="menu-text"> Mensajes</span></a></li>
      <li ng-class="{active:$state.includes('horario')}"><a ui-sref="horarios" stop-event="click"><span class="menu-text"> Horarios</span></a></li>
      <li ng-class="{active:$state.includes('votaciones')}"><a ui-sref="votaciones" stop-event="click"><span class="menu-text"> Votaciones</span></a></li>
    </ul>
  </li><!-- Ayuda -->
  <li sub-menu ng-click="toggleOpen()" menu-is-open="false" ng-if="false"><a href="" class="menu-dropdown"><i class="menu-icon fa fa-question-circle themesecondary"></i><span class="menu-text">Ayuda</span><i class="menu-expand"></i></a>
    <ul class="submenu">
      <li><a href="tables-simple.html" stop-event="click"><span class="menu-text">Agregar notas</span></a></li>
      <li><a href="tables-data.html" stop-event="click"><span class="menu-text">Configurar colegio</span></a></li>
    </ul>
  </li>
</ul>