ul.nav.sidebar-menu
	<!--Dashboard-->
	li(ui-sref-active-eq="active")
		a(ui-sref="panel")
			i.menu-icon.glyphicon.glyphicon-home
			span.menu-text Inicio
	<!--Alumnos-->
	li(ui-sref-active="active" ng-show="hasRoleOrPerm('admin')")
		a(ui-sref="panel.alumnos")
			i.menu-icon.fa.fa-child
			span.menu-text Alumnos
	<!-- Profesores-->
	li(sub-menu ng-click="toggleOpen()" ng-show="hasRoleOrPerm('admin')" ng-class="{open:$state.includes('panel.profesores')}")
		a.menu-dropdown(href="")
			i.menu-icon.fa.fa-graduation-cap
			span.menu-text Profesores
			i.menu-expand

		ul.submenu
			li( ui-sref-active="active")
				a(ui-sref="panel.profesores" stop-event="click")
					span.menu-text Editar

			li(sub-menu ng-click="toggleOpen()" hija="true" stop-event="click")
				a.menu-dropdown(href="")
					span.menu-text Todos
					i.menu-expand

				ul.submenu
					li(ng-repeat="profe in profesores")
						a(ui-sref="panel.user({username: profe.username})" stop-event="click" tooltip="{{profe.nombres}} {{profe.apellidos}}" tooltip-popup-delay="1500" tooltip-placement="right")
							//i.menu-icon.fa.fa-rocket
							div.menu-text.nombresellipsis {{profe.nombres}} {{profe.apellidos}}
					li(ng-if="profesores.length==0" tooltip="Profesores no contratados" tooltip-popup-delay="1500" tooltip-placement="right")
						a(ui-sref="panel.profesores" stop-event="click")
							div.menu-text.nombresellipsis Profes no contratados
	<!-- Notas visto por profesor-->
	li(sub-menu ng-click="toggleOpen()" ng-show="hasRoleOrPerm(['profesor'])" ng-class="{open:$state.includes('panel.notas')||$state.includes('panel.listasignaturas')}")
		a.menu-dropdown(href="")
			i.menu-icon.fa.fa-apple
			span.menu-text Notas
			i.menu-expand

		ul.submenu
			li(ui-sref-active="active")
				a(ng-click="listarAsignaturas()" href="" stop-event="click")
					span.menu-text Notas
			li(ui-sref-active="active")
				a(ui-sref="panel.listasignaturas" stop-event="click")
					span.menu-text Asignaturas

	<!-- Notas visto por el admin-->
	li(sub-menu ng-click="toggleOpen()" ng-show="hasRoleOrPerm(['admin'])" ng-class="{open:$state.includes('panel.listasignaturas')||$state.includes('panel.unidades')||$state.includes('panel.notas')}")
		a.menu-dropdown(href="")
			i.menu-icon.fa.fa-apple
			span.menu-text Notas
			i.menu-expand

		ul.submenu
			li(ui-sref-active="active" ng-repeat="profe in profesores")
				a(ui-sref="panel.listasignaturas({profesor_id: profe.profesor_id})" stop-event="click" tooltip="{{profe.nombres}} {{profe.apellidos}}" tooltip-popup-delay="1500" tooltip-placement="right")
					div.menu-text.nombresellipsis {{profe.nombres}} {{profe.apellidos}}
			li(ng-if="profesores.length==0")
				a(ui-sref="panel.profesores" stop-event="click" tooltip="Profesores no contratados" tooltip-popup-delay="1500" tooltip-placement="right")
					div.menu-text.nombresellipsis Profes no contratados

	<!-- Profesores visto por un profesor-->
	li(sub-menu ng-click="toggleOpen()" ng-show="hasRoleOrPerm(['profesor'])")
		a.menu-dropdown(href="")
			i.menu-icon.fa.fa-graduation-cap
			span.menu-text Compañeros
			i.menu-expand

		ul.submenu
			li(ui-sref-active="active" ng-repeat="profe in profesores" ng-if="profe.profesor_id!=persona_id")
				a(ui-sref="panel.user.resumen({username: profe.username})" stop-event="click")
					div.menu-text.nombresellipsis {{profe.nombres}} {{profe.apellidos}}
			li(ng-if="profesores.length==0")
				a(ui-sref="panel.profesores" stop-event="click")
					span.menu-text Profes no contratados

	<!-- Grados-->
	li(sub-menu ng-click="toggleOpen()" ng-if="!hasRoleOrPerm(['admin']) && hasRoleOrPerm(['profesor'])" 
		ng-class="{open:$state.includes('panel.niveles')||$state.includes('panel.grados')||$state.includes('panel.grupos')||$state.includes('panel.areas')||$state.includes('panel.materias')||$state.includes('panel.asignaturas')||$state.includes('panel.listalumnos')}")
		a.menu-dropdown(href="")
			i.menu-icon.fa.fa-th-large
			span.menu-text Grupos
			i.menu-expand

		ul.submenu
			li(ui-sref-active="active" ng-repeat="grupo in grupos")
				a(ui-sref="panel.listalumnos({grupo_id: grupo.id})" stop-event="click")
					span.menu-text {{grupo.nombre}}


	<!-- Grados-->
	li(sub-menu ng-click="toggleOpen()" ng-if="hasRoleOrPerm(['admin'])" 
		ng-class="{open:$state.includes('panel.niveles')||$state.includes('panel.grados')||$state.includes('panel.grupos')||$state.includes('panel.areas')||$state.includes('panel.materias')||$state.includes('panel.asignaturas')||$state.includes('panel.listalumnos')}")
		a.menu-dropdown(href="")
			i.menu-icon.fa.fa-th-large
			span.menu-text Grados y Áreas
			i.menu-expand

		ul.submenu
			li(ui-sref-active="active" ng-if="hasRoleOrPerm(['admin'])")
				a(ui-sref="panel.niveles" stop-event="click")
					span.menu-text Niveles educativos
			li(ui-sref-active="active" ng-if="hasRoleOrPerm(['admin'])")
				a(ui-sref="panel.grados" stop-event="click")
					span.menu-text Grados
			li(ui-sref-active="active" ng-if="hasRoleOrPerm(['admin'])")
				a(ui-sref="panel.grupos" stop-event="click")
					span.menu-text Editar Grupos
			li(sub-menu ng-click="toggleOpen()" hija="true" stop-event="click" ng-class="{open:$state.includes('panel.listalumnos')}")
				a.menu-dropdown(href="")
					span.menu-text Grupos
					i.menu-expand

				ul.submenu
					li(ng-repeat="grupo in grupos" ui-sref-active="active")
						a(ui-sref="panel.listalumnos({grupo_id: grupo.id})" stop-event="click")
							//i.menu-icon.fa.fa-rocket
							span.menu-text {{grupo.nombre}}


			li(ui-sref-active="active" ng-if="hasRoleOrPerm(['admin'])")
				a.menu-dropdown(ui-sref="panel.areas")
					span.menu-text Areas
			li(ui-sref-active="active" ng-if="hasRoleOrPerm(['admin'])")
				a.menu-dropdown(ui-sref="panel.materias")
					span.menu-text Materias
			li(ui-sref-active="active" ng-if="hasRoleOrPerm(['admin'])")
				a.menu-dropdown(ui-sref="panel.asignaturas")
					span.menu-text Asignaturas

	
	<!-- Informes-->
	li(ui-sref-active="active" ng-if="!hasRoleOrPerm(['admin']) && hasRoleOrPerm(['profesor'])" )
		a(ui-sref="informes")
			i.menu-icon.glyphicon.glyphicon-print
			span.menu-text Informes

	li(sub-menu ng-show="hasRoleOrPerm('admin')" ng-click="toggleOpen()" menu-is-open="false" ng-class="{active:$state.is('panel')}")
		a.menu-dropdown(href="")
			i.menu-icon.glyphicon.glyphicon-print
			span.menu-text Informes
			i.menu-expand

		ul.submenu
			li
				a(ui-sref="informes" stop-event="click")
					span.menu-text Informes
			li
				a(href="" stop-event="click")
					span.menu-text Puestos

			li
				a(href="" stop-event="click")
					span.menu-text 3 primeros
			li
				a(href="" stop-event="click")
					span.menu-text Boletines
			li
				a(href="" stop-event="click")
					span.menu-text Boletines finales
			li
				a(href="" stop-event="click")
					span.menu-text Por alumno
	<!-- Colegio-->
	li(sub-menu ng-click="toggleOpen()" ng-show="hasRoleOrPerm('admin')" ng-class="{open:$state.includes('panel.years')||$state.includes('panel.usuarios')||$state.includes('panel.papelera')}")
		a.menu-dropdown(href="")
			i.menu-icon.fa.fa-institution
			span.menu-text Colegio
			i.menu-expand

		ul.submenu
			li(ui-sref-active="active")
				a(stop-event="click" ui-sref="panel.years")
					span.menu-text Configuración
			li(ui-sref-active="active")
				a(ui-sref='panel.usuarios' stop-event="click")
					span.menu-text Usuarios

			li(sub-menu ng-click="toggleOpen()" hija="true" stop-event="click")
				a.menu-dropdown(href="")
					span.menu-text Ciudades
					i.menu-expand

				ul.submenu
					li
						a(ui-sref="panel.paises" stop-event="click")
							i.menu-icon.fa.fa-rocket
							span.menu-text Paises
					li
						a(ui-sref="panel.ciudades" stop-event="click")
							i.menu-icon.glyphicon.glyphicon-stats
							span.menu-text Ciudades

			
			li(ui-sref-active="active")
				a(ui-sref="panel.periodos" stop-event="click")
					span.menu-text Periodos
			li(ui-sref="panel.anuncios" stop-event="click")
				a(href="" stop-event="click")
					span.menu-text Anuncios
			li(ui-sref-active="active")
				a(ui-sref="panel.mensajes" stop-event="click")
					span.menu-text  Mensajes
			li(ui-sref-active="active")
				a(ui-sref="panel.bitacora" stop-event="click")
					span.menu-text  Bitacora
			li(ui-sref-active="active")
				a(ui-sref="panel.bitacora" stop-event="click")
					span.menu-text  Horarios
			li(ui-sref-active="active")
				a(ui-sref="votaciones" stop-event="click")
					span.menu-text  Votaciones
			li(ui-sref-active="active")
				a(ui-sref="panel.papelera" stop-event="click")
					span.menu-text  Papelera
					i.menu-icon.fa.fa-trash.themesecondary
	<!-- Ayuda -->
	li(sub-menu ng-click="toggleOpen()" ng-show="hasRoleOrPerm('admin')" menu-is-open="false" ng-if="false")
		a.menu-dropdown(href="")
			i.menu-icon.fa.fa-question-circle.themesecondary
			span.menu-text Ayuda
			i.menu-expand

		ul.submenu
			li
				a(href="tables-simple.html" stop-event="click")
					span.menu-text Agregar notas
			li
				a(href="tables-data.html" stop-event="click")
					span.menu-text Configurar colegio
