<!-- Page Header ************************************** -->
<div class="page-header position-relative"></div><!-- /Page Header ************************************* -->
<!-- Page Body -->
<div class="page-body">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
      <h5 class="row-title"><i class="fa fa-list-alt darkorange"></i>Participantes - {{ votacion.nombre }}</h5>
      <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-12">
          <div class="well with-header">
            <div class="header bordered-purple">Tabla de paticipantes</div>
            <div id="grid1" ui-grid="gridOptions" ui-grid-edit external-scopes="$scope" ui-grid-resize-columns class="grid"></div>
          </div>
        </div>
        <div ng-if="editing" class="col-lg-6 col-sm-6 col-xs-12">
          <div class="well with-header">
            <div class="header bordered-yellow">Editar participante</div>
            <form role="form" ng-submit="guardar()">
              <div class="form-group">
                <label>Usuario: </label>
                <label>{{participanteEdit.user_id}} </label>
              </div>
              <div class="form-group">
                <label>¿Bloqueado?</label>
                <label>
                  <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="participanteEdit.locked" class="checkbox-slider slider-icon colored-blue"><span class="text si-no"></span>
                </label>
              </div>
              <div class="form-group">
                <label for="participante-intentos">Intentos: {{ participante.intentos }}</label>
              </div><br>
              <input type="submit" ng-submit="guardar()" value="Editar inscripción" class="btn btn-primary btn-lg shiny">
            </form>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
          <div class="well with-header">
            <div class="header bordered-yellow">Inscribir participante</div>
            <form role="form" ng-submit="crear()">
              <div class="form-group">
                <label>Usuario</label>
                <ui-select ng-model="participante.user" theme="select2" style="min-width: 200px;">
                  <ui-select-match placeholder="Usuario" allow-clear="true">{{$select.selected.username}}</ui-select-match>
                  <ui-select-choices repeat="user in usuarios | filter: $select.search">
                    <div ng-bind-html="user.username | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="form-group">
                <label>¿Bloqueado?</label>
                <label>
                  <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="participante.locked" class="checkbox-slider slider-icon colored-blue"><span class="text si-no"></span>
                </label>
              </div>
              <input type="submit" ng-submit="crear()" value="Inscribir participante" class="btn btn-primary btn-lg shiny">
            </form>
            <hr class="wide">
            <form role="form" ng-submit="inscribirGrupo()">
              <div class="form-group">
                <label>Inscribir grupo entero</label>
                <ui-select ng-model="grupoInscribir.grupo" theme="select2" style="min-width: 200px;">
                  <ui-select-match placeholder="Usuario" allow-clear="true">{{$select.selected.nombre}}</ui-select-match>
                  <ui-select-choices repeat="grupo in grupos | filter: $select.search">
                    <div ng-bind-html="grupo.nombre | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div><br>
              <input type="submit" ng-submit="inscribirGrupo()" value="Inscribir grupo" class="btn btn-primary btn-lg shiny">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>