<!-- Page Header ************************************** -->
<div class="page-header position-relative"></div><!-- /Page Header ************************************* -->
<!-- Page Body -->
<div class="page-body">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
      <h5 class="row-title"><i class="fa fa-bar-chart darkorange"></i>Resultados - {{votacion.nombre}}</h5>
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <div class="well with-header">
            <div class="header bordered-purple">Tabla de Resultados</div>
            <table class="table">
              <thead class="bordered-darkorange">
                <tr>
                  <th>Aspiración</th>
                  <th>Abreviatura</th>
                  <th>Total votos</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat-start="aspiracion in aspiraciones">
                  <td>{{aspiracion.aspiracion}}</td>
                  <td>{{aspiracion.abrev}}</td>
                  <td class="success">{{aspiracion.candidatos[1].cantidad}}</td>
                </tr>
                <tr ng-repeat-end>
                  <td colspan="4">
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>nombre</th>
                          <th>Votos</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="candidato in aspiracion.candidatos">
                          <td>{{$index+1}}</td>
                          <td>{{ candidato.nombres + ' ' + candidato.apellidos }}</td>
                          <td>{{candidato.cantidad}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>