
<div ui-view="edit_profesor" class="row"></div>
<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="well with-header with-footer">
      <div class="header bordered-yellow">Profesores</div><a ui-sref="panel.profesores.nuevo" tooltip="Ingresa datos de un nuevo alumno" class="btn btn-info shiny">Nuevo profesor</a>
      <div id="grid1" ui-grid="gridOptions" ui-grid-edit external-scopes="$scope" ui-grid-resize-columns class="grid"></div>
      <div class="footer">Edite los datos de forma individual o conjunta.</div>
    </div>
  </div>
</div>