
<div class="col-xs-12 col-md-12">
  <div class="well with-header with-footer">
    <div class="header bordered-red">Editar profesor</div>
    <form ng-submit="guardar()" class="form">Nombres
      <input type="text" ng-model="profesor.nombres">Apellidos
      <input type="text" ng-model="profesor.apellidos">Sexo
      <input type="text" ng-model="profesor.sexo">Tipo de documento
      <input type="text" ng-model="profesor.tipo_doc">Numero de documento
      <input type="text" ng-model="profesor.num_doc">Ciudad de nacimiento
      <input type="text" ng-model="profesor.ciudad_doc">Fecha de nacimiento
      <input type="text" ng-model="profesor.fecha_nac">Ciudad de nacimiento
      <input type="text" ng-model="profesor.ciudad_nac">Título
      <input type="text" ng-model="profesor.titulo">Barrio
      <input type="text" ng-model="profesor.barrio">Dirección
      <input type="text" ng-model="profesor.direccion">Teléfono
      <input type="text" ng-model="profesor.telefono">Celular
      <input type="text" ng-model="profesor.celular">Facebook
      <input type="text" ng-model="profesor.facebook">E-mail
      <input type="text" ng-model="profesor.email">Tipo profesor
      <input type="text" ng-model="profesor.tipo_profesor">Usuario id
      <input type="text" ng-model="profesor.usuario_id">
      <input type="submit" value="Guardar" ng-submit="guardar()" class="btn btn-info shiny">
    </form>
  </div>
</div>