
<div ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal','page-vertical': config.orientacion=='vertical'}"><img ng-src="{{perfilPath + 'encabezado-membrete.jpg'}}" class="encabezado-membrete">
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <div class="row encabezado-boletin">
        <div class="col-lg-12 col-xs-12">
          <div class="row">
            <div class="col-lg-2 col-xs-2"><img ng-src="{{perfilPath + year.logo}}" class="img-responsive logo-colegio"></div>
            <div class="col-lg-8 col-xs-8 title-encabezado-boletin">
              <div class="nombre-colegio">{{year.nombre_colegio + ' - ' + year.abrev_colegio}}</div>
              <div class="resolucion-colegio">{{year.resolucion}}</div>
              <div class="title-descripcion">Boletin FINAL {{USER.year}}</div>
            </div>
            <div class="col-lg-2 col-xs-2"><img ng-src="{{perfilPath + alumno.foto_nombre}}" ng-show="config.mostrar_foto &amp;&amp; alumno.foto_id" class="img-responsive img-thumbnail foto-alumno"></div>
          </div>
          <div class="row descripcion-encabezado">
            <div class="col-lg-6 col-xs-6">
              <div class="grupo-alumno">Grupo: <b>{{grupo.nombre_grupo | capitalize}}</b></div>
              <div popover="&lt;img src='{{perfilPath + grupo.foto_nombre}}' style='width: 150px; height: 150px;'&gt;" popover-popup-delay="1000" popover-title="{{grupo.nombres_profesor + ' ' + grupo.apellidos_profesor}}" popover-animation="true" popover-trigger="mouseenter" class="titular-grupo">Titular: Pr. {{grupo.nombres_profesor + ' ' + grupo.apellidos_profesor | capitalize}}</div>
            </div>
            <div class="col-lg-6 col-xs-6">
              <h5 class="nombre-alumno">{{alumno.nombres + ' ' + alumno.apellidos}}</h5>
              <div class="promedio-alumno">Puntaje: {{alumno.promedio | setDecimal:1 }}% - Puesto: {{alumno.puesto}}/{{grupo.cantidad_alumnos}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row body-boletin">
        <div class="col-lg-12 col-xs-12">
          <table class="table-bordered table-striped">
            <thead>
              <tr style="border-bottom: 2px solid;">
                <th>No</th>
                <th>Nombres</th>
                <th><i class="fa fa-clock-o icon-tardanza"></i>A</th>
                <th ng-repeat="periodo in year.periodos">Per{{periodo.numero}}</th>
                <th style="border-left: 2px solid !important;">Prom</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="asignatura in alumno.asignaturas">
                <td>{{$index + 1}}</td>
                <td>
                  <div popover="&lt;img src='{{perfilPath + asignatura.foto_nombre}}' style='width: 150px; height: 150px;'&gt;" popover-popup-delay="1000" popover-title="{{asignatura.nombres_profesor + ' ' + asignatura.apellidos_profesor}}" popover-animation="true" popover-trigger="mouseenter">{{asignatura.materia}}</div>
                </td>
                <td><span ng-show="asignatura.ausencias &gt; 0">{{asignatura.ausencias}}</span></td>
                <td ng-repeat="definitiva in asignatura.definitivas" ng-class="{'nota-perdida-puestos': ((definitiva.DefMateria | decimales_if:1 )*1) &lt; (USER.nota_minima_aceptada*1) }" class="puntero">{{definitiva.DefMateria | decimales_if:1}}</td>
                <td ng-class="{'nota-perdida-puestos': ((asignatura.promedio | decimales_if:1 )*1) &lt; (USER.nota_minima_aceptada*1) }">{{asignatura.promedio | decimales_if:1}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr style="border-top: 2px solid;">
                <td>  </td>
                <td>Total</td>
                <td>{{alumno.ausencias}}</td>
                <td ng-repeat="periodo in year.periodos">{{ alumno.asignaturas | promedioPeriodo:periodo.id | decimales:0 }}</td>
                <td style="font-weight: bold; border-left: 2px solid !important;">{{alumno.promedio | decimales:0 }}<span ng-show="" class="cant-unidades-perdidas"></span></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="row footer-boletin">
        <div class="col-lg-12 col-xs-12">
          <div class="row">
            <div class="col-lg-6 col-xs-6 rector-firma"><img ng-show="config.show_firma_rector" ng-src="{{perfilPath + year.rector_firma}}"></div>
            <div class="col-lg-6 col-xs-6 titular-firma"><img ng-show="config.show_firma_titular" ng-src="{{perfilPath + grupo.firma_titular_nombre}}"></div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-xs-6 nombre-rector-firma">{{year.nombres_rector}} {{year.apellidos_rector}}</div>
            <div class="col-lg-6 col-xs-6 nombre-titular-firma">{{grupo.nombres_profesor}} {{grupo.apellidos_profesor}}</div>
          </div>
          <div class="row">
            <div ng-show="year.sexo_rector=='M'" class="col-lg-6 col-xs-6">Rector</div>
            <div ng-show="year.sexo_rector=='F'" class="col-lg-6 col-xs-6">Rectora</div>
            <div class="col-lg-6 col-xs-6">Titular</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>