div(ng-repeat="mes in ::meses_cumple")

	div(ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal','page-vertical': config.orientacion=='vertical', 'salto-pagina': $last==false }")


		.row
			.col-lg-12.col-xs-12
				.row(draggable)
					.titulo-mes-cumpleanos(ng-repeat="item in [1,2,3,4,5,6,7,8,9,10]") {{ mes.mes }}
					//.stage
						//.layer.titulo-mes-cumpleanos(ng-repeat="item in [1,2,3,4,5,6,7,8,9,10]") {{ mes.mes }}

		.row
			.col-lg-12.col-xs-12(draggable)

				div(ng-repeat="alumno in ::mes.alumnos")
					span(style="font-weight: bold;") {{ alumno.abrev_grupo }}
					span.camel    {{ alumno.nombres }} {{ alumno.apellidos }} - {{ alumno.fecha_nac }}
