.row.hidden-print(ng-init="opened=true" ng-show="opened")
	.col-lg-12.col-xs-12
		.widget
			.widget-header.bg-blue
				i.widget-icon.fa.fa-bar-chart
				.widget-caption
					|Informes
				.widget-buttons
					a(href="" ng-init="minimized = false" ng-click="minimized = !minimized")
						i.fa(ng-class="{false: 'fa-minus', true: 'fa-plus'}[minimized]")
					a(href="" ng-click="opened=false")
						i.fa.fa-times
			.widget-body(ng-class="{'ng-hide':minimized}")
				
				tabset.widget-main
					tab(heading="Boletines" active="informe_tab_actual_boletines" select="selectTab('boletines')")

						.row
							.col-lg-12.col-xs-12
								.form-group
									label Grupo
									ui-select(ng-model="datos.grupo" on-select="selectGrupo($item)" style="width: 300px; display: inline-block;")
										ui-select-match(placeholder="Grupo" allow-clear="true") {{$select.selected.nombre}}
										ui-select-choices(repeat="grupo in grupos | filter: $select.search")
											div(ng-bind-html="grupo.nombre | highlight: $select.search")
									a.btn.btn-default(href="" ng-click="verBoletinesGrupo()") Grupo completo
						.row(ng-show="datos.grupo")
							.col-lg-12.col-xs-12
								.form-group
									label Alumnos
									ui-select( ng-model="datos.selected_alumnos" multiple on-select="selectAlumnos($item)" style="width: 100%;")
										ui-select-match(placeholder="Alumnos del grupo {{datos.grupo.abrev}}" allow-clear="true") 
											img(ng-src="{{perfilPath + $item.foto_nombre}}" style="width:25px; height:25px;") 
											| {{$item.nombres}}
										ui-select-choices(repeat="alumno in filtered_alumnos | filter: $select.search")
											img(ng-src="{{perfilPath + alumno.foto_nombre}}" style="width:25px; height:25px;")
											small(ng-bind-html="alumno.nombres + ' ' + alumno.apellidos | highlight: $select.search")
									a.btn.btn-default(href="" ng-click="verBoletinesAlumnos()") Cargar boletines
						
						.row(ng-show="!datos.grupo")
							.col-lg-12.col-xs-12
								.form-group
									label Alumno
									ui-select( ng-model="datos.selected_alumno" on-select="selectAlumno($item)" style="width: 300px;")
										ui-select-match(placeholder="Elige un alumno" allow-clear="true") 
											img(ng-src="{{perfilPath + $select.selected.foto_nombre}}" style="width:25px; height:25px;") 
											| {{$select.selected.nombres}} {{$select.selected.apellidos}}
										ui-select-choices(repeat="alumno in filtered_alumnos | filter: $select.search")
											img(ng-src="{{perfilPath + alumno.foto_nombre}}" style="width:25px; height:25px;")
											small(ng-bind-html="alumno.nombres + ' ' + alumno.apellidos | highlight: $select.search")
									a.btn.btn-default(href="" ng-click="verBoletinAlumno()") Cargar boletin
						br
						br
						.row
							.col-lg-2.col-sm-4.col-xs-12
								.form-group
									label Mostrar foto
									label
										input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-model="config.mostrar_foto")
										span.text.si-no
							.col-lg-2.col-sm-4.col-xs-12
								.form-group
									label Firma rector
									label
										input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-model="config.show_firma_rector")
										span.text.si-no
							.col-lg-2.col-sm-4.col-xs-12
								.form-group
									label Firma titular
									label
										input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-model="config.show_firma_titular")
										span.text.si-no
							.col-lg-2.col-sm-4.col-xs-12
								.form-group
									label Mostrar rojos
									label
										input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-model="config.show_rojos")
										span.text.si-no
						br
						br
						button.btn.btn-default(ng-click="pdfMaker()" ng-show="false")
							|Prueba pdf

					tab(heading="Puestos" active="informe_tab_actual_puestos" select="selectTab('puestos')")
						.form-group
							label Grupo
							ui-select(ng-model="datos.grupo" on-select="selectGrupo($item)" style="width: 300px; display: inline-block;")
								ui-select-match(placeholder="Elige un grupo" allow-clear="true") {{$select.selected.nombre}}
								ui-select-choices(repeat="grupo in grupos | filter: $select.search")
									div(ng-bind-html="grupo.nombre | highlight: $select.search")
							a.btn.btn-default(href="" ng-click="verPuestosPeriodo()") Puestos del periodo
							a.btn.btn-success.disabled(href="" ng-click="verPuestosYear()") Puestos del año


					tab(heading="Planillas" active="informe_tab_actual_planillas" select="selectTab('planillas')")
						.form-group
							label Profesor
							ui-select(ng-model="datos.profesor" on-select="selectGrupo($item)" style="width: 300px; display: inline-block;")
								ui-select-match(placeholder="Elige un profesor" allow-clear="true") {{$select.selected.nombres + ' ' + $select.selected.apellidos}}
								ui-select-choices(repeat="profe in profesores | filter: $select.search")
									div(ng-bind-html="profe.nombres + ' ' + profe.apellidos | highlight: $select.search")
							a.btn.btn-default(href="" ng-click="verPlanillasProfe()") Ver planillas

						.form-group
							label Grupo
							ui-select(ng-model="datos.grupo" on-select="selectGrupo($item)" style="width: 300px; display: inline-block;")
								ui-select-match(placeholder="Elige un grupo" allow-clear="true") {{$select.selected.nombre}}
								ui-select-choices(repeat="grupo in grupos | filter: $select.search")
									div(ng-bind-html="grupo.nombre | highlight: $select.search")
							a.btn.btn-default(href="" ng-click="verPlanillasGrupo()") Ver planillas
						br
						br
						.row
							.col-lg-2.col-sm-4.col-xs-12
								.form-group
									label Mostrar foto
									label
										input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-model="config.mostrar_foto")
										span.text.si-no



				hr.wide
				h5 Orientación de la página:
				.control-group
					.radio
						label
							input(type="radio" ng-model="config.orientacion" value="oficio_horizontal")
							.text Oficio Horizontal
					.radio
						label
							input(type="radio" ng-model="config.orientacion" value="carta_horizontal")
							.text Carta horizontal
					.radio
						label
							input(type="radio" ng-model="config.orientacion" value="vertical")
							.text Vertical

				hr.wide
				h5 {{descripcion_informe}}


.informes-pages(ui-view="report_content")
	h5(style="text-align: center") Aquí saldrán tus resportes