div(ng-class="{'boletin-page-horizontal': config.orientacion=='horizontal', 'boletin-page-vertical': config.orientacion=='vertical'}")
	.row
		.col-lg-12.col-xs-12
			.row.encabezado-puestos
				.col-lg-12.col-xs-12
					.row
						.col-lg-2.col-xs-2
							img.img-responsive.logo-colegio(ng-src="{{perfilPath + year.logo}}")
						.col-lg-8.col-xs-8.title-encabezado-boletin
							.nombre-colegio
								{{year.nombre_colegio + ' - ' + year.abrev_colegio}}
							.resolucion-colegio
								{{year.resolucion}}
							.title-descripcion
								|Puestos periodo {{USER.periodo_actual}} - {{USER.year}} Grupo {{grupo.nombre}}
	.row
		.col-lg-12
			table.table.table-condensed.table-hover
				thead
					tr
						td No
						td Nombres
						td(ng-repeat="asignatura in alumnos[0].asignaturas") {{asignatura.alias_materia}}
						td Total
				tbody
					tr(ng-repeat="alumno in alumnos | orderBy:'-promedio'")
						td {{$index + 1}}
						td {{alumno.nombres + + alumno.apellidos}}
						td(ng-repeat="asignatura in alumno.asignaturas")
							span( popover="{{ asignatura.unidades | notasAsignatura }}") {{asignatura.nota_asignatura}}
							span( popover="{{ asignatura.unidades | notasPerdidasAsignatura }}" ng-show="{{asignatura.nota_asignatura | notasPerdidasAsignatura:true}} > 0") ({{asignatura.nota_asignatura | notasPerdidasAsignatura:true}})
						td 0

