
<div ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal', 'page-vertical': config.orientacion=='vertical'}">
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <div class="row encabezado-puestos">
        <div class="col-lg-12 col-xs-12">
          <div class="row">
            <div class="col-lg-2 col-xs-2"><img ng-src="{{perfilPath + year.logo}}" class="img-responsive logo-colegio"></div>
            <div class="col-lg-8 col-xs-8 title-encabezado-boletin">
              <div class="nombre-colegio">{{year.nombre_colegio + ' - ' + year.abrev_colegio}}</div>
              <div class="resolucion-colegio">{{year.resolucion}}</div>
              <div class="title-descripcion">Puestos Año {{USER.year}} Grupo {{grupo.nombre_grupo}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table-bordered table-bordered2 table-striped table-striped2">
        <thead>
          <tr style="border-bottom: 2px solid;">
            <th>No</th>
            <th>Nombres</th>
            <th ng-repeat="asignatura in alumnos[0].asignaturas">{{asignatura.alias_materia}}</th>
            <th style="border-left: 2px solid !important;">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="alumno in alumnos | orderBy:'-promedio_year'">
            <td>{{$index + 1}}</td>
            <td>
              <div class="ellipsis200 alumno-planilla">{{alumno.nombres + ' ' + alumno.apellidos}}</div>
            </td>
            <td ng-repeat="asignatura in alumno.asignaturas">
              <!--span(popover="{{ asignatura.periodos | notasAsignaturaYear }}" popover-trigger="mouseenter" popover-popup-delay="1000") {{asignatura.nota_asignatura_year | number:0}} // Esto es demasiadas información para mostrar en la definitiva de la materia del alumno.--><span>{{asignatura.nota_asignatura_year | number:0}}</span><span popover="{{ asignatura.periodos | notasPerdidasAsignaturaYear }}" popover-trigger="mouseenter" popover-popup-delay="1000" ng-show="{{asignatura.periodos | notasPerdidasAsignaturaYear:true}} &gt; 0" class="cant-unidades-perdidas puntero">({{asignatura.periodos | notasPerdidasAsignaturaYear:true}})</span>
            </td>
            <td style="border-left: 2px solid !important;"><span>{{alumno.promedio_year | number:1}}</span><span class="cant-unidades-perdidas">({{ alumno.asignaturas | notasPerdidasAsignaturasYear:true}})</span></td>
          </tr>
        </tbody>
        <tfoot>
          <tr style="border-top: 2px solid;">
            <td>  </td>
            <td>Total</td>
            <td ng-repeat="asignatura in alumnos[0].asignaturas">{{ alumnos | promAsigYear:asignatura.asignatura_id | decimales:1 }}</td>
            <td style="font-weight: bold; border-left: 2px solid !important;">{{ alumnos | promGrupoYear | decimales:1 }}<span class="cant-unidades-perdidas">({{alumnos | notasPerdidasGrupoYear}})</span></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>