div(ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal','page-vertical': config.orientacion=='vertical', 'salto-pagina': $parent.$last==false }")
	div(style="position: absolute; margin-bottom: 0; margin-left: -10px; " ng-show="config.cant_imagenes > 0" ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal','page-vertical': config.orientacion=='vertical' } ")
		img.img-fondo-boletin(ng-src="{{ perfilPath + $parent.config.imagen_fondo.nombre }}"
			ng-repeat="cant in $parent.range(config.cant_imagenes) track by $index")

	.row
		.col-lg-12.col-xs-12
			.row.encabezado-boletin
				.col-lg-12.col-xs-12
					.row
						.col-lg-2.col-xs-2
							img.img-responsive.logo-colegio(ng-src="{{ ::perfilPath }}{{ ::year.logo }}")
						.col-lg-8.col-xs-8.title-encabezado-boletin
							.nombre-colegio
								| {{ ::year.nombre_colegio }} - {{ ::year.abrev_colegio }}
							.resolucion-colegio
								| {{::year.resolucion}}
							.title-descripcion
								| Boletin periodo {{ ::USER.numero_periodo }} - {{ ::USER.year }}
						.col-lg-2.col-xs-2
							img.img-responsive.img-thumbnail.foto-alumno(ng-src="{{::perfilPath}}{{::alumno.foto_nombre}}" ng-show="config.mostrar_foto && alumno.foto_id")

					.row.descripcion-encabezado
						.col-lg-6.col-xs-6
							.grupo-alumno
								span(style="margin-right: 2px") Grupo:
								b {{ ::grupo.nombre_grupo | capitalize }}
							.titular-grupo(uib-popover-template="::views+'informes/infoTitularPop.tpl.html'"
									popover-popup-delay="500" popover-title="{{::grupo.nombres_profesor}} {{grupo.apellidos_profesor}}" popover-animation="true"
									popover-trigger="mouseenter" popover-append-to-body="true")
								| Titular: Prof. {{ ::grupo.nombres_profesor }}  {{ ::grupo.apellidos_profesor }}
						.col-lg-6.col-xs-6
							h6.nombre-alumno(ng-show="::alumno.estado=='ASIS'" style="font-size: 14pt") === ASISTENTE ===
							h5.nombre-alumno {{::alumno.nombres}} {{::alumno.apellidos}}
							.promedio-alumno Puntaje: {{::alumno.promedio | number:0 }}%
								span(ng-show="::alumno.estado!='RETI'")  {{ ::alumno.texto_puesto }}
			.row.body-boletin
				.col-lg-12.col-xs-12.no-padding
					.materia-item
						table.table-bordered.table-bordered2.table-striped.table-striped2(style="margin: 0 auto;")
							tr(style="background-color: #99caed !important;")
								td No
								td Asignatura / Área
								td P1
								td P2
								td P3
								td P4

							tr(ng-repeat="asignatura in ::alumno.asignaturas")
								td {{ $index + 1 }}
								td {{ asignatura.materia }}
								td {{ asignatura.nota_final_per1 }}
								td {{ asignatura.nota_final_per2 }}
								td {{ asignatura.nota_final_per3 }}
								td {{ asignatura.nota_final_per4 }}



			.row.comportamiento-boletin
				.col-lg-12.col-xs-12

					span(dynamic="::alumno.encabezado_comportamiento")

					.row.comportamiento-body
						.col-lg-12.col-xs-12.comportamiento-frases
							div(style="border-bottom: 1px solid #666; text-align: center; padding-bottom: 3px; margin-bottom: 3px;")
								.row
									.col-lg-3.col-xs-3
										b Llegadas tarde
										|   a la institución: {{ ::alumno.ausencias_total.cant_tardanzas_entrada }}.
									.col-lg-3.col-xs-3
										b Ausencias
										|   en la entrada: {{ ::alumno.ausencias_total.cant_ausencias_entrada }}.
									.col-lg-3.col-xs-3
										b Tardanzas
										|   a clases: {{ ::alumno.ausencias_total.cant_tardanzas_clases }}.
									.col-lg-3.col-xs-3
										b Ausencias
										|   a clases: {{ ::alumno.ausencias_total.cant_ausencias_clases }}

							.row(ng-repeat="definicion in alumno.comportamiento.definiciones")
								.col-lg-12.col-xs-12
									| {{::definicion.frase}}



			// GRÁFICO RESUMEN ASIGNATURA
			.row.comportamiento-boletin(style="padding-top: 5px")
				.col-lg-12.col-xs-12(style="height: 140px;")
					.row
						.col-lg-12.col-xs-12.resumen-title
							div(style="position: relative")
								div(style="position: absolute; font-weight: 600; padding-left: 10px")
									| Definitivas por asignaturas

							nvd3(options='options' data='data' api="api")



			.row.resumen-perdidas
				// Tabla de perdidas de este año
				.col-lg-6.col-xs-6.no-padding(ng-if="::alumno.notas_perdidas_year > 0")

					.row.resumen-head
						.col-lg-12.col-xs-12.resumen-title
							span Notas pendientes del año {{::year.year}}
					.row.resumen-body
						.col-lg-10.col-xs-10.resumen-tabla
							table.table-bordered
								thead
									tr
										td No
										td Asignaturas
										td(uib-tooltip="Nota definitiva del año" tooltip-append-to-body="true") Def
										td(ng-repeat="periodo in ::year.periodos track by $index")
											| Per{{::periodo.numero}}
										td Total
								tbody
									tr(ng-repeat="asignatura_perdida in ::alumno.asignaturas_perdidas")
										td {{$index + 1}}
										td
											div.nombresellipsis(style="width: 140px;") {{::asignatura_perdida.materia | capitalize}}
										td {{ ::asignatura_perdida.detalle_periodos.definitiva_year | number:0 }}
										td(ng-repeat="periodo in ::year.periodos track by $index")
											div {{ ::asignatura_perdida.detalle_periodos['cant_perdidas_' + ($index+1) ] }}

										td
											b {{::asignatura_perdida.detalle_periodos.cant_perdidas_year}}
								tfoot
									tr
										td(colspan="2")
											| Total
										td
										td(ng-repeat="periodo in ::year.periodos track by $index")
											| {{::alumno['notas_perdidas_per' + ($index+1) ]}}
										td
											b {{::alumno.notas_perdidas_year}}


				// Tabla de perdidas del año pasado
				.col-lg-6.col-xs-6.no-padding(ng-if="::alumno.yp_notas_perdidas_year > 0")

					.row.resumen-head
						.col-lg-12.col-xs-12.resumen-title
							span Notas pendientes del año {{::year.year - 1}}
					.row.resumen-body
						.col-lg-10.col-xs-10.resumen-tabla
							table.table-bordered
								thead
									tr
										td No
										td Asignaturas
										td(uib-tooltip="Definitiva del año pasado" tooltip-append-to-body="true") Def
										td Per1
										td Per2
										td Per3
										td Per4
										td Total
								tbody
									tr(ng-repeat="asignatura_perdida in ::alumno.asignaturas_year_pasado")
										td {{$index + 1}}
										td
											div.nombresellipsis(style="width: 140px;") {{::asignatura_perdida.materia | capitalize}}
										td
											div {{ ::asignatura_perdida.detalle_periodos.definitiva_year | number:0 }}
										td
											div {{ ::asignatura_perdida.detalle_periodos.cant_perdidas_1 }}
										td
											div {{ ::asignatura_perdida.detalle_periodos.cant_perdidas_2 }}
										td
											div {{ ::asignatura_perdida.detalle_periodos.cant_perdidas_3 }}
										td
											div {{ ::asignatura_perdida.detalle_periodos.cant_perdidas_4 }}

										td
											b {{::asignatura_perdida.detalle_periodos.cant_perdidas_year}}
								tfoot
									tr
										td(colspan="2")
											| Total
										td
										td
											| {{::alumno.yp_notas_perdidas_per1 }}
										td
											| {{::alumno.yp_notas_perdidas_per2 }}
										td
											| {{::alumno.yp_notas_perdidas_per3 }}
										td
											| {{::alumno.yp_notas_perdidas_per4 }}
										td
											b {{::alumno.yp_notas_perdidas_year}}





			.row.footer-boletin
				.col-lg-12.col-xs-12
					.row
						.col-lg-6.col-xs-6.rector-firma
							img(ng-show="config.show_firma_rector" ng-src="{{::perfilPath}}{{::year.rector_firma}}")
						.col-lg-6.col-xs-6.titular-firma
							img(ng-show="config.show_firma_titular" ng-src="{{::perfilPath}}{{::grupo.firma_titular_nombre}}")
					.row
						.col-lg-6.col-xs-6.nombre-rector-firma
							| {{::year.nombres_rector}} {{::year.apellidos_rector}}
						.col-lg-6.col-xs-6.nombre-titular-firma
							| {{::grupo.nombres_profesor}} {{::grupo.apellidos_profesor}}

					.row
						.col-lg-6.col-xs-6(ng-show="::year.sexo_rector=='M'")
							| Rector
						.col-lg-6.col-xs-6(ng-show="::year.sexo_rector=='F'")
							| Rectora

						.col-lg-6.col-xs-6
							| Titular




