
<div class="row">
  <div class="col-lg-6 col-sm-6 col-xs-12">
    <div class="widget">
      <div class="widget-header"><span class="widget-caption">Bitácora</span>
        <div class="widget-buttons"><a href="#" data-toggle="collapse"><i class="fa fa-minus"></i></a><a ng-show="false" href="#" data-toggle="dispose"><i class="fa fa-times"></i></a></div>
      </div>
      <div class="widget-body">
        <table class="table">
          <thead class="bordered-darkorange">
            <tr>
              <th>Aspiración</th>
              <th>Abreviatura</th>
              <th>Total votos</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat-start="aspiracion in aspiraciones">
              <td>Buu</td>
              <td>vaaa</td>
              <td class="success">rtt</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>