
<!--.col-lg-12.col-xs-12
.widget
 .widget-header.bordered-bottom.bordered-blue
  span.widget-caption Asignaturas
 .widget-body
  .row
-->
<h6 ng-if="profesor_id" class="row-title before-blue">Profesor: {{profesor.nombres + ' ' + profesor.apellidos}}</h6>
<div class="row">
  <div ng-repeat="asignatura in asignaturas" class="col-lg-6 col-xs-12">
    <div ng-click="open(asignatura, aspiracion)" class="databox databox-graded radius-bordered databox-shadowed puntero">
      <div class="databox-left bg-azure">
        <div class="databox-piechart">
          <div style="width: 47px; height: 47px; line-height: 47px;" class="easyPieChart">
            <div class="white font-150">{{asignatura.abrev_grupo}}</div>
          </div>
        </div>
      </div>
      <div class="databox-right padding-top-5 radius-bordered bg-white">
        <div class="databox-title lightcarbon">{{ asignatura.materia }}</div>
        <div class="databox-text darkgray">
          <div class="btn-group"><a ui-sref="panel.unidades({asignatura_id: asignatura.asignatura_id})" class="btn btn-default btn-sm">Unidades</a><a ui-sref="panel.ausencias({asignatura_id: asignatura.asignatura_id})" class="btn btn-default btn-sm">Ausencias</a></div>
        </div>
        <div class="databox-stat radius-bordered bg-azure">
          <div class="stat-text">{{asignatura.nombre_grupo}}</div>
          <!--i.stat-icon.fa.fa-apple-->
        </div>
      </div>
    </div>
  </div>
</div>
<h6 ng-show="gruposcomportamientos.length &gt; 0" class="row-title before-blue">Grupos de titularía</h6>
<h6 ng-show="gruposcomportamientos.length == 0" class="row-title before-blue">No tiene asignada ninguna titularía</h6>
<div class="row">
  <div ng-repeat="grupo in gruposcomportamientos" class="col-lg-6 col-xs-12">
    <div ng-click="openComportamiento(grupo.id)" class="databox databox-graded radius-bordered databox-shadowed puntero">
      <div class="databox-left bg-azure">
        <div class="databox-piechart">
          <div style="width: 47px; height: 47px; line-height: 47px;" class="easyPieChart">
            <div class="white font-150">{{grupo.abrev}}</div>
          </div>
        </div>
      </div>
      <div class="databox-right padding-top-5 radius-bordered bg-white">
        <div class="databox-title lightcarbon">{{ grupo.nombre }}</div>
        <div class="databox-text darkgray">
          <div class="btn-group"><a ui-sref="panel.comportamiento({grupo_id: grupo.id})" class="btn btn-default btn-sm">Comportamiento</a><a ui-sref="panel.comportamiento({grupo_id: grupo.id})" class="btn btn-default btn-sm">Libro rojo</a></div>
          <!--i.stat-icon.fa.fa-apple-->
        </div>
      </div>
    </div>
  </div>
</div>