accordion(close-others="true")
	accordion-group(heading="Información personal" is-open="true")
		form(role='form' ng-submit="guardar()")
			.row
				.col-sm-6
					.form-group(ng-if="canConfig")
						label(for="alumno-no-matr") Nombres
						span.input-icon.icon-right
							input.form-control(type='text', placeholder='Nombres' ng-model="perfilactual.nombres")
							i.fa.fa-user.blue
					.form-group(ng-if="!canConfig")
						| Nombres: 
						b{{perfilactual.nombres}}
				.col-sm-6
					.form-group(ng-if="canConfig")
						label(for="alumno-no-matr") Apellidos
						span.input-icon.icon-right
							input.form-control(type='text', placeholder='Apellidos' ng-model="perfilactual.apellidos")
							i.fa.fa-user.blue
					.form-group(ng-if="!canConfig")
						| Apellidos: 
						b{{perfilactual.apellidos}}
				.col-lg-3.col-xs-12
					.form-group(ng-if="canConfig")
						|Sexo
						.row
							.col-sm-6
								.radio
									label
										input.inverted(type="radio" name="sexo" value="M" ng-model="perfilactual.sexo")
										span.text Masculino
							.col-sm-6
								.radio
									label
										input.inverted(type="radio" name="sexo" value="F" ng-model="perfilactual.sexo")
										span.text Femenino
					.form-group(ng-if="!canConfig")
						| Sexo: 
						b{{perfilactual.sexo}}
			.row
				.col-sm-6(ng-if="false")
					.form-group(ng-if="canConfig")
						label(for="alumno-fecha-nac") Fecha de nacimiento
							.controls
								.input-group
									input.form-control.active#alumno-fecha-nac(type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="perfilactual.fecha_nac" is-open="data.isOpen" ng-click="data.isOpen = true" max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha nacimiento")
									span.input-group-addon
										i.fa.fa-calendar
					.form-group(ng-if="!canConfig")
										
				.col-sm-6
					.form-group(ng-if="canConfig")
						label(for="perfilcelular") Celular
						span.input-icon.icon-right
							input#perfilcelular.form-control(type='text', placeholder='Celular' ng-model="perfilactual.celular")
							i.glyphicon.glyphicon-phone.palegreen
					.form-group(ng-if="!canConfig") Celular: 
						b{{perfilactual.celular}}

				.col-sm-6
					.form-group(ng-if="canConfig")
						label(for="perfilcelular") Correo electrónico
						span.input-icon.icon-right
							input.form-control(type='text', placeholder='Correo electrónico' ng-model="perfilactual.email_persona")
							i.fa.fa-envelope.purple
					.form-group(ng-if="!canConfig") Correo electrónico 
					b{{perfilactual.email_persona}}

			button.btn.btn-primary(type='submit' ng-submit="guardar()" ng-if="canConfig") Guardar cambios
	

	accordion-group(heading="Datos de usuario" ng-if="canConfig")
		form(role="form")
			.row
				.col-sm-7
					.form-group
						label Nombre de usuario
						span.input-icon.icon-right
							input.form-control(ng-model="newusername" type="text" placeholder="Nombre de usuario" ng-init="newusername==perfilactual.username" typeahead="nombresusu as nombresusu.username for nombresusu in nombresdeusuario | filter:{username:$viewValue} | limitTo:8")
							i.fa.fa-user.azure
						br
						br
						button.btn.btn-warning(ng-click="comprobarusername(newusername)")
							span(ng-hide="comprobando")
								|Comprobar 
							span(ng-show="comprobando")
								|Comprobando 
								i.fa.fa-spinner.fa-spin
						.alert.alert-warning.fade.in(ng-show="mostrarErrorUsername")
							.fa-fw.fa.fa-warning
							span(ng-show="newusername!=perfilactual.username") Usuario no disponible.
							span(ng-show="newusername==perfilactual.username") Ya es tu nombre de usuario actual.
			button.btn.btn-primary(type='button' ng-click="CambiarUsername(newusername)" ng-class="{disabled:mostrarErrorUsername || newusername=='' || newusername==perfilactual.username || canSaveUsername==false }") Guardar usuario



	accordion-group(heading="Cambiar contraseña" ng-if="canConfig")
		form(role="form" ng-submit="CambiarPass(newpass, newpassverif, passantiguo)")
			.row
				.col-sm-7
					.form-group
						label Contraseña antigua
						span.input-icon.icon-right
							input.form-control(type='password' placeholder='Contraseña antigua' ng-model="passantiguo")
							i.fa.fa-user.azure
					.form-group
						label Contraseña nueva
						span.input-icon.icon-right
							input.form-control(type='password' required placeholder='Contraseña nueva' ng-model="newpass")
							i.fa.fa-user.azure
						.alert.alert-warning.fade.in(ng-show="mostrarErrorPassword")
							|La contraseña debe ser repetida exactamente
						br
						br
						label Repita la contraseña nueva
						span.input-icon.icon-right
							input.form-control(type='password' placeholder='Verificar contraseña nueva' ng-model="newpassverif")
							i.fa.fa-user.azure
			button.btn.btn-primary(type='submit') Cambiar contraseña



