
<uib-accordion close-others="true">
  <uib-accordion-group heading="Información personal" is-open="true">
    <form role="form" ng-submit="guardar()">
      <div class="row">
        <div ng-if="!perfilactual.tipo=='Us'" class="col-sm-6">
          <div ng-if="canConfig" class="form-group">
            <label for="alumno-no-matr">Nombres</label><span class="input-icon icon-right">
              <input type="text" placeholder="Nombres" ng-model="perfilactual.nombres" class="form-control"><i class="fa fa-user blue"></i></span>
          </div>
          <div ng-if="!canConfig" class="form-group">Nombres: <b>{{perfilactual.nombres}}</b></div>
        </div>
        <div ng-if="!perfilactual.tipo=='Us'" class="col-sm-6">
          <div ng-if="canConfig" class="form-group">
            <label for="alumno-no-matr">Apellidos</label><span class="input-icon icon-right">
              <input type="text" placeholder="Apellidos" ng-model="perfilactual.apellidos" class="form-control"><i class="fa fa-user blue"></i></span>
          </div>
          <div ng-if="!canConfig" class="form-group">Apellidos: <b>{{perfilactual.apellidos}}</b></div>
        </div>
        <div class="col-lg-3 col-xs-12">
          <div ng-if="canConfig" class="form-group">Sexo
            <div class="row">
              <div class="col-sm-6">
                <div class="radio">
                  <label>
                    <input type="radio" name="sexo" value="M" ng-model="perfilactual.sexo" class="inverted"><span class="text">Masculino</span>
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="radio">
                  <label>
                    <input type="radio" name="sexo" value="F" ng-model="perfilactual.sexo" class="inverted"><span class="text">Femenino</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="!canConfig" class="form-group">Sexo: <b>{{perfilactual.sexo}}</b></div>
        </div>
      </div>
      <div class="row">
        <div ng-if="false" class="col-sm-6">
          <div ng-if="canConfig" class="form-group">
            <label for="alumno-fecha-nac">Fecha de nacimiento
              <div class="controls">
                <div class="input-group">
                  <input id="alumno-fecha-nac" type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="perfilactual.fecha_nac" is-open="data.isOpen" ng-click="data.isOpen = true" max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha nacimiento" class="form-control active"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </label>
          </div>
          <div ng-if="!canConfig" class="form-group"></div>
        </div>
        <div ng-if="!perfilactual.tipo=='Us'" class="col-sm-6">
          <div ng-if="canConfig" class="form-group">
            <label for="perfilcelular">Celular</label><span class="input-icon icon-right">
              <input id="perfilcelular" type="text" placeholder="Celular" ng-model="perfilactual.celular" class="form-control"><i class="fa fa-phone palegreen"></i></span>
          </div>
          <div ng-if="!canConfig" class="form-group">Celular: <b>{{perfilactual.celular}}</b></div>
        </div>
        <div class="col-sm-6">
          <div ng-if="canConfig" class="form-group">
            <label for="perfilcelular">Correo electrónico</label><span class="input-icon icon-right">
              <input type="text" placeholder="Correo electrónico" ng-model="perfilactual.email_persona" class="form-control"><i class="fa fa-envelope purple"></i></span>
          </div>
          <div ng-if="!canConfig" class="form-group">Correo electrónico </div><b>{{perfilactual.email_persona}}</b>
        </div>
      </div>
      <button type="submit" ng-submit="guardar()" ng-if="canConfig" class="btn btn-primary">Guardar cambios</button>
    </form>
  </uib-accordion-group>
  <uib-accordion-group heading="Datos de usuario" ng-if="canConfig">
    <form role="form">
      <div class="row">
        <div class="col-sm-7">
          <div class="form-group">
            <label>Nombre de usuario ({{perfilactual.username}})</label><span class="input-icon icon-right">
              <input ng-model="newusername" type="text" placeholder="Nombre de usuario" ng-init="newusername==perfilactual.username" typeahead="nombresusu as nombresusu.username for nombresusu in nombresdeusuario | filter:{username:$viewValue} | limitTo:8" class="form-control"><i class="fa fa-user azure"></i></span><br><br>
            <button ng-click="comprobarusername(newusername)" class="btn btn-warning"><span ng-hide="comprobando">Comprobar </span><span ng-show="comprobando">Comprobando <i class="fa fa-spinner fa-spin"></i></span></button>
            <div ng-show="mostrarErrorUsername" class="alert alert-warning fade in">
              <div class="fa-fw fa fa-warning"></div><span ng-show="newusername!=perfilactual.username">Usuario no disponible.</span><span ng-show="newusername==perfilactual.username">Ya es tu nombre de usuario actual.</span>
            </div>
          </div>
        </div>
      </div>
      <button type="button" ng-click="CambiarUsername(newusername)" ng-class="{disabled:mostrarErrorUsername || newusername=='' || newusername==perfilactual.username || canSaveUsername==false }" class="btn btn-primary">Guardar usuario</button>
    </form>
  </uib-accordion-group>
  <uib-accordion-group heading="Cambiar contraseña" ng-if="canConfig" is-open="status.passCambiado">
    <form role="form" ng-submit="CambiarPass(newpass, newpassverif, passantiguo)">
      <div class="row">
        <div class="col-sm-7">
          <div class="form-group">
            <label>Contraseña antigua</label><span class="input-icon icon-right">
              <input type="password" placeholder="Contraseña antigua" ng-model="passantiguo" class="form-control"><i class="fa fa-user azure"></i></span>
          </div>
          <div class="form-group">
            <label>Contraseña nueva</label><span class="input-icon icon-right">
              <input type="password" required placeholder="Contraseña nueva" ng-model="newpass" class="form-control"><i class="fa fa-user azure"></i></span>
            <div ng-show="mostrarErrorPassword" class="alert alert-warning fade in">La contraseña debe ser repetida exactamente</div><br><br>
            <label>Repita la contraseña nueva</label><span class="input-icon icon-right">
              <input type="password" placeholder="Verificar contraseña nueva" ng-model="newpassverif" class="form-control"><i class="fa fa-user azure"></i></span>
          </div>
        </div>
      </div>
      <button type="submit" ng-disabled="cambiandoPass" class="btn btn-primary">Cambiar contraseña</button>
    </form>
  </uib-accordion-group>
</uib-accordion>