.row
	.col-xs-12.col-md-12
		.well.with-header.with-footer
			.header.bordered-yellow Crear usuario 
				a.btn.btn-info.shiny(ui-sref="panel.usuario.nuevo" tooltip="Ingresa datos de un nuevo usuario") Crear usuario


			#grid1.grid(ui-grid="gridOptions" ui-grid-edit ui-grid-resize-columns style="height: 600px")



.row
	.col-xs-12.col-md-12
		.well.with-header.with-footer
			.header.bordered-yellow Opciones 
			button.btn.btn-primary(ng-click="crearTodosLosUsuarios()")
				|Crear todos los usuarios
			button.btn.btn-primary(ui-sref="panel.usuarios.roles")
				|Roles

.row(ui-view="user_roles")
