
<div class="row">
  <div class="col-xs-12 col-md-12">
    <div style="padding-top: 80px" class="well with-header">
      <div class="header bordered-yellow"> 
        <div style="margin-bottom: 0px; " class="form-group">
          <label for="act-descrip" style="margin-top: 10px;" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right">Descripción: </label>
          <div class="col-xs-12 col-sm-10 col-md-10">
            <input id="act-descrip" type="text" ng-model="actividad.descripcion" placeholder="Descripción" uib-tooltip="Descripción de la actividad" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-sm-12">		
          <div class="row">
            <div class="form-group col-lg-12 col-sm-12 col-xs-12">Tipo de pregunta: 
              <div class="btn-group btn-group-justified">
                <label ng-model="actividad.tipo" uib-btn-radio="'Contenido'" uib-tooltip="La actividad/tarea solo tiene contenido" tooltip-popup-delay="500" tooltip-append-to-body="true" class="btn btn-default shiny">Contenido</label>
                <label ng-model="actividad.tipo" uib-btn-radio="'Autoevaluacion'" uib-tooltip="Pide una nota al alumno" tooltip-popup-delay="500" tooltip-append-to-body="true" class="btn btn-default shiny">Autoevaluación</label>
                <label ng-model="actividad.tipo" uib-btn-radio="'Cuestionario'" uib-tooltip="Encuesta o cuestionario sin tiempo" tooltip-popup-delay="500" tooltip-append-to-body="true" class="btn btn-default shiny">Cuestionario</label>
                <label ng-model="actividad.tipo" uib-btn-radio="'Examen'" uib-tooltip="Examen con tiempo establecido por tiempo o pregunta" tooltip-popup-delay="500" tooltip-append-to-body="true" class="btn btn-default shiny">Examen</label>
              </div>
            </div>
          </div>
          <div ng-show="actividad.tipo == 'Cuestionario' || actividad.tipo == 'Examen' " class="row">
            <div uib-tooltip="Mostrar todas las preguntas o de una en una" tooltip-popup-delay="500" style="width: 150px;" class="form-group col-lg-12 col-sm-12 col-xs-12">
              <label>Una por una</label>
              <label>
                <input type="checkbox" ng-model="actividad.one_by_one" ng-true-value="1" ng-false-value="0" class="checkbox-slider slider-icon colored-blue"><span class="text si-no"></span>
              </label>
            </div>
            <div ng-hide="actividad.one_by_one" style="width: 150px;" class="form-group col-lg-12 col-sm-12 col-xs-12">
              <label for="act-duraexamen">Duracion examen</label>
              <div class="spinner spinner-horizontal">
                <input id="act-duraexamen" type="text" minlength="1" maxlength="999" ng-model="actividad.duracion_exam" class="spinner-input form-control">
                <div class="spinner-buttons btn-group">
                  <button type="button" ng-click="restar('duracion_exam')" class="btn spinner-down blueberry"><i class="fa fa-minus"></i></button>
                  <button type="button" ng-click="sumar('duracion_exam')" class="btn spinner-up purple"><i class="fa fa-plus"></i></button>
                </div>
              </div>
            </div>
            <div ng-show="actividad.one_by_one" style="width: 150px;" class="form-group col-lg-12 col-sm-12 col-xs-12">
              <label for="act-durapreg">Duracion pregunta</label>
              <div class="spinner spinner-horizontal">
                <input id="act-durapreg" type="text" minlength="1" maxlength="999" ng-model="actividad.duracion_preg" class="spinner-input form-control">
                <div class="spinner-buttons btn-group">
                  <button type="button" ng-click="restar('duracion_preg')" class="btn spinner-down blueberry"><i class="fa fa-minus"></i></button>
                  <button type="button" ng-click="sumar('duracion_preg')" class="btn spinner-up purple"><i class="fa fa-plus"></i></button>
                </div>
              </div>
            </div>
            <div uib-tooltip="La nota se define sumando los puntos por pregunta o promediandolas" tooltip-popup-delay="500" class="form-group col-lg-12 col-sm-12 col-xs-12">
              <label>Puntaje por promedio</label>
              <label>
                <input type="checkbox" ng-model="actividad.puntaje_por_promedio" ng-true-value="1" ng-false-value="0" class="checkbox-slider slider-icon colored-blue"><span class="text si-no"></span>
              </label>
            </div>
          </div>
          <div class="row">
            <div style="margin-top: 5px;" class="form-group col-lg-3 col-sm-4 col-xs-12">
              <label for="act-finaliza_at">Fecha de entrega</label>
              <div class="controls">
                <div class="input-group"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  <input id="act-finaliza_at" type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="actividad.finaliza_at" is-open="data.isOpen" ng-click="data.isOpen = true" max-date="'2030-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Finaliza en" class="form-control active">
                </div>
              </div>
            </div>
            <div style="padding: 0px" class="col-lg-5 col-sm-5 col-xs-12">
              <div uib-timepicker ng-model="actividad.finaliza_at"></div>
            </div>
          </div>
          <div class="row">
            <div uib-tooltip="Redirecciona automáticamente al alumno a esta actividad al loguearse" tooltip-popup-delay="500" class="form-group col-lg-3 col-sm-6 col-xs-12">
              <label>En ejecución</label>
              <label>
                <input type="checkbox" ng-model="actividad.in_action" ng-true-value="1" ng-false-value="0" class="checkbox-slider slider-icon colored-blue"><span class="text si-no"></span>
              </label>
            </div>
          </div>
          <div class="row">
            <div uib-tooltip="Defina si esta actividad se responde subiendo archivo" tooltip-popup-delay="500" class="form-group col-lg-3 col-sm-6 col-xs-12">
              <label>Responder con archivo</label>
              <label>
                <input type="checkbox" ng-model="actividad.can_upload" ng-true-value="1" ng-false-value="0" class="checkbox-slider slider-icon colored-blue"><span class="text si-no"></span>
              </label>
            </div>
          </div>
          <div ng-show="actividad.tipo == 'Contenido' || actividad.tipo == 'Autoevaluacion' " class="row">
            <div style="margin-bottom: 12px;" class="form-group col-lg-12 col-sm-12 col-xs-12">
              <div ckeditor="editor_options" ng-model="actividad.contenido" ready="onEditorReady"></div>
            </div>
          </div>
          <div class="row">
            <div style="text-align: right;" class="col-lg-12 col-sm-12">
              <button ng-click="verResultados()" class="btn btn-success">Ver resultados</button>
              <button ng-click="guardarActividad()" class="btn btn-primary">Guardar ajustes</button>
              <button ng-click="guardarActividad(true)" class="btn btn-primary">Guardar y salir</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-show="actividad.tipo == 'Cuestionario' || actividad.tipo == 'Examen' " class="row">
  <div class="col-xs-12 col-md-12">
    <div class="well with-header with-footer">
      <div class="header bordered-yellow">
         
        Preguntas
      </div>
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <button ng-click="crearPregunta()" class="btn btn-primary">
             
            Crear pregunta
          </button>
        </div>
      </div>
      <div style="margin-top: 10px" class="row">
        <div class="col-lg-12 col-sm-12">
          <div ui-view="preguntacontent"></div>
        </div>
      </div>
      <div style="margin-top: 10px" class="row">
        <div class="col-lg-12 col-sm-12">
          <div ng-repeat="pregunta in actividad.preguntas" style="padding: 8px; margin-bottom: 5px; " class="well well-pregunta"><span ng-bind-html="pregunta.enunciado"></span>
            <div style="top: 5px;" class="item-menu"><a href="" uib-tooltip="Editar" ng-click="editar_pregunta(pregunta)" tooltip-placement="left" tooltip-popup-delay="500" class="btn-mail tooltip-primary"><i class="fa fa-pencil"></i></a><a href="" uib-tooltip="Eliminar" ng-click="eliminar_pregunta(pregunta.id)" tooltip-placement="left" style="margin-left: 4px;" tooltip-popup-delay="500" class="btn-mail tooltip-danger"><i class="fa fa-times"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>