.row(ng-if="hasRoleOrPerm(['admin', 'profesor'])")
	.col-xs-12.col-md-12
		.widget
			.widget-header.bordered-bottom.bordered-themesecondary
				i.widget-icon.fa.fa-tags.themesecondary
				span.widget-caption.themesecondary
					| Pedidos que esperan tu aprobación 

			.widget-body
				.widget-main.no-padding


					.tickets-container
						ul.tickets-list

							li(ng-show="(changes_asked_to_me | filter:{deleted_at:'!'}).length==0") No hay pedidos pendientes

							li.ticket-item(ng-repeat="file in changes_asked_to_me | filter:{deleted_at:'!'} ")
								.row
									.ticket-user.col-lg-10.col-sm-12
										img.user-avatar(ng-src="{{perfilPath + file.foto_nombre}}")
										span.user-name {{file.nombres + ' ' +file.apellidos}} 
										span.user-company  quiere esta imagen: 
										img.user-avatar(ng-src="{{perfilPath + file.foto_nombre_asked}}")
										span.user-company como oficial.
										

									.ticket-type.col-lg-2.col-sm-12
										span.divider.hidden-xs

										input.btn.btn-success.btn-xs(type="button" value="Aceptar" ng-click="aceptarAsked(file)")
										
										input.btn.btn-danger.btn-xs(type="button" value="Rechazar" ng-click="rechazarAsked(file)")



.row(ng-if="hasRoleOrPerm(['admin', 'profesor'])")
	.col-xs-12.col-md-12
		.widget
			.widget-header.bordered-bottom.bordered-themefourthcolor
				i.widget-icon.fa.fa-tags.themefourthcolor
				span.widget-caption.themefourthcolor
					| Pedidos anteriores 

			.widget-body
				.widget-main.no-padding


					.tickets-container
						ul.tickets-list

							li(ng-show="(changes_asked_to_me | filter:{deleted_at:'!!'}).length==0") No hay pedidos anteriores

							li.ticket-item(ng-repeat="file in changes_asked_to_me | filter:{deleted_at:'!!'} ")
								.row
									.ticket-user.col-lg-10.col-sm-12
										img.user-avatar(ng-src="{{perfilPath + file.foto_nombre}}")
										span.user-name {{file.nombres + ' ' +file.apellidos}} 
										span.user-company  quiere esta imagen: 
										img.user-avatar(ng-src="{{perfilPath + file.foto_nombre_asked}}")
										span.user-company como oficial.
										

									.ticket-type.col-lg-2.col-sm-12
										span.divider.hidden-xs

										span(ng-show="file.accepted_at")
											span.label.label-info(uib-tooltip="Aceptado por: {{file.deleted_by}}; Cuando: {{file.deleted_at}} ") Aceptado
										
										span(ng-show="file.rechazado_at")
											span.label.label-maroon(uib-tooltip="Rechazado por: {{file.deleted_by}}; Cuando: {{file.deleted_at}} ") Rechazado
										


			