.row(ng-if="hasRoleOrPerm(['admin', 'profesor'])")
	.col-xs-12.col-md-12
		.widget
			.widget-header.bordered-bottom.bordered-themesecondary
				i.widget-icon.fa.fa-tags.themesecondary
				span.widget-caption.themesecondary(uib-tooltip="Hay alumnos que piden algunos cambios. Tú podrías aceptar o rechazar esas peticiones.")
					| Pedidos que esperan tu aprobación 

			.widget-body
				.widget-main.no-padding


					.tickets-container
						ul.tickets-list

							li(ng-show="changes_asked.alumnos.length==0") No hay pedidos pendientes

							li.ticket-item(ng-repeat="change_asked in changes_asked.alumnos ")
								.row
									.ticket-user.ticket-solicitud(ng-click="verDetalles(change_asked)")
										img.user-avatar(ng-src="{{perfilPath + change_asked.foto_nombre }}" alt="{{ change_asked.foto_nombre }}")
										span.user-name {{change_asked.nombres + ' ' + change_asked.apellidos }} 
										span.user-company  de 
											b {{change_asked.grupo_nombre}} 
											|  ha solicitado unos cambios
								.row(ng-show="change_asked.mostrando")
									div(style="padding: 10px; white-space: nowrap; text-overflow: ellipsis;")
										table.table
											//thead
												tr
													th No
													th No
													th No
											//tbody
											tr(ng-if="change_asked.detalles.image_new_nombre") 
												td
													| Imagen perfil actual: 
													img.user-avatar(ng-src="{{perfilPath + change_asked.imagen_nombre }}" alt="{{ change_asked.imagen_nombre }}" style="width: 50px")
												td 
													| Nueva: 
													img.user-avatar(ng-src="{{perfilPath + change_asked.detalles.image_new_nombre }}" alt="{{ change_asked.detalles.image_new_nombre }}" style="width: 50px")
												td 
													.button-aprobar.bg-red(ng-click="rechazarCambio(change_asked)")
														i.fa.fa-times(style="color: #fff;")
													.button-aprobar.bg-palegreen(ng-click="aprobarCambio(change_asked)")
														i.fa.fa-check(style="color: #fff;")


											tr(ng-if="change_asked.detalles.foto_new_nombre") 
												td
													| Foto oficial actual: 
													img.user-avatar(ng-src="{{perfilPath + change_asked.foto_nombre }}" alt="{{ change_asked.foto_nombre }}" style="width: 50px")
												td 
													| Nueva: 
													img.user-avatar(ng-src="{{perfilPath + change_asked.detalles.foto_new_nombre }}" alt="{{ change_asked.detalles.foto_new_nombre }}" style="width: 50px")
												td 
													.button-aprobar.bg-red(ng-click="rechazarCambio(change_asked)")
														i.fa.fa-times(style="color: #fff;")
													.button-aprobar.bg-palegreen(ng-click="aprobarCambio(change_asked)")
														i.fa.fa-check(style="color: #fff;")


											




			