.row(ng-if="hasRoleOrPerm(['admin', 'profesor'])")
	.col-xs-12.col-md-12
		.widget
			.widget-header.bordered-bottom.bordered-themesecondary
				i.widget-icon.fa.fa-tags.themesecondary
				span.widget-caption.themesecondary(uib-tooltip="Hay alumnos que piden algunos cambios. Tú podrías aceptar o rechazar esas peticiones.")
					| Pedidos que esperan tu aprobación 

			.widget-body
				.widget-main.no-padding


					.tickets-container
						ul.tickets-list

							li(ng-show="(changes_asked_to_me | filter:{deleted_at:'!'}).length==0") No hay pedidos pendientes

							li.ticket-item(ng-repeat="change_asked in changes_asked_to_me | filter:{deleted_at:'!'} ")
								.row
									.ticket-user.ticket-solicitud(ng-click="verDetalles(change_asked)")
										img.user-avatar(ng-src="{{perfilPath + change_asked.foto_nombre_alum}}" alt="{{change_asked.foto_nombre_alum}}")
										span.user-name {{change_asked.nombres_alum + ' ' +change_asked.apellidos_alum}} 
										span.user-company  ha solicitado unos cambios
										



					span(ng-show="")
						h6.row-title.before-blue(style="margin-left: -15px;")
							| Pedidos anteriores 

						.tickets-container
							ul.tickets-list

								li(ng-show="(changes_asked_to_me | filter:{deleted_at:'!!'}).length==0") No hay pedidos anteriores

								li.ticket-item(ng-repeat="change_asked in changes_asked_to_me | filter:{deleted_at:'!!'} ")
									.row
										.ticket-user.col-lg-10.col-sm-12
											img.user-avatar(ng-src="{{perfilPath + change_asked.foto_nombre}}" alt="{{change_asked.foto_nombre}}" )
											span.user-name {{change_asked.nombres + ' ' +change_asked.apellidos}} 
											span.user-company  quiere esta imagen: 
											img.user-avatar(ng-src="{{perfilPath + change_asked.foto_nombre_asked}}" alt="Imagen pedida")
											span.user-company como oficial.
											

										.ticket-type.col-lg-2.col-sm-12
											span.divider.hidden-xs

											span(ng-show="change_asked.accepted_at")
												span.label.label-info(uib-tooltip="Aceptado por: {{change_asked.username}}({{change_asked.tipo}}); Cuando: {{change_asked.deleted_at}} ") Aceptado
											
											span(ng-show="change_asked.rechazado_at")
												span.label.label-maroon(uib-tooltip="Rechazado por: {{change_asked.username}}({{change_asked.tipo}}); Cuando: {{change_asked.deleted_at}} ") Rechazado
											


			