.header-title
	h1 {{titulo || 'Panel de control'}}
	<!--Header Buttons-->

//Este grupo solo lo mostrará cuando esté en el estado usuarios.
a.btn.btn-info.shiny(ng-show="$state.includes('panel.alumnos')" title="Administrar grupos" ui-sref="panel.usuarios.grupos({id: '', type: 'edit'})")
	i.fa.fa-th-large
		|  Grupos

.header-buttons
	//
		a.sidebar-toggler(href="")
			i.fa.fa-arrows-h
	a.refresh(href="" ng-click="reload()" tooltip="Recargar los datos")
		i.fa.fa-refresh
	a.fullscreen(href="" ng-click="reload(setFullScreen())" tooltip="Ver en pantalla completa")
		i.fa.fa-arrows-alt
	<!--Header Buttons End-->